interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-dopPWC", "scope": "-Fallback-scrubbed-KtkIGvYTaMPonBtiLKkqtCLXztmtyIXhCmtBUiarqjM",
        "expires_in": "4340", "ext_expires_in": "-Fallback-scrubbed-EEWb", "expires_on":
        "-Fallback-scrubbed-SDUtSoQBuT", "not_before": "-Fallback-scrubbed-YeaEBfhDir",
        "resource": "-Fallback-scrubbed-ohGDikSjFcDowoHQjoIoPWkCMNOLKSeJYmJhTjto",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-drRzeAuoXqijPZkVKGLabYyPIthdlZdYMDQo",
        "applicationFamily": "-Fallback-scrubbed-EohkCenOyftkSWG", "type": "-Fallback-scrubbed-EjOVyJn",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-sq", "webServiceUrl":
        "-Fallback-scrubbed-ohGDikSjFcDowoHQjoIoPWkCMNOLKSeJYmJhTjto", "webClientLoginUrl":
        "-Fallback-scrubbed-QpsIXtEQNqAMRNsussgaIcZEBbacGRDGKLDS"}, {"aadTenantId":
        "-Fallback-scrubbed-drRzeAuoXqijPZkVKGLabYyPIthdlZdYMDQo", "applicationFamily":
        "-Fallback-scrubbed-EohkCenOyftkSWG", "type": "-Fallback-scrubbed-FfajvxXmHT",
        "name": "Production", "countryCode": "-Fallback-scrubbed-wx", "webServiceUrl":
        "-Fallback-scrubbed-ohGDikSjFcDowoHQjoIoPWkCMNOLKSeJYmJhTjto", "webClientLoginUrl":
        "-Fallback-scrubbed-QpsIXtEQNqAMRNsussgaIcZEBbacGRDGKLDS"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 7ac48d3a-f374-4b64-87ff-d64c56cca530
      ms-correlation-x:
      - ced8b9b7-4128-7c92-419f-da2545f28eaf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-uRotVmNOEyZSvsbpJSezjvAvtftmKKuMwjqwlUmzyGbQoNYwUxFAHjtbdLBMygLOcxUOkpUdmhSSYNmGQbwxb",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-eBWaaYGJYLEeovUa", "timestamp": 420, "name": "CRONUS USA,
        Inc.", "displayName": "Erin Mckenzie", "businessProfileId": "Erin Mckenzie",
        "systemCreatedAt": "-Fallback-scrubbed-EBSpJjELeqyfqiKLZZuDWmZf", "systemCreatedBy":
        "-Fallback-scrubbed-WMuekKwBKEZHSsAmowjIitOiYYlQhHbmmBsl", "systemModifiedAt":
        "-Fallback-scrubbed-EBSpJjELeqyfqiKLZZuDWmZf", "systemModifiedBy": "-Fallback-scrubbed-WMuekKwBKEZHSsAmowjIitOiYYlQhHbmmBsl"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - fbc83ecc-1c71-4687-8bf6-b24a63faea22
      ms-correlation-x:
      - 117642c3-9ec3-b15b-0718-d2fa70958389
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-AqHuMrtpcqcMwtZaENISPeNsmsGGwieiQywUEiRFCiDSUWRRMMnloddbDghOAHwWmtuljVUwKrIOQuQrAUBQgSTWnqbcWfXHNRxlbHIIATLuFCODHkjihVcUCMtNOtQgrvWZFZpGDAlHJC",
        "value": [{"@odata.etag": "-Fallback-scrubbed-QWCTMKjbrUjLayceQAOdYdXwevPqdZOVpsUZpwWXOMrb",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Amy Williams",
        "addressLine1": "2469 Garrison Heights", "addressLine2": "110 Gina Parkway",
        "city": "Lake Alanshire", "state": "-Fallback-scrubbed-sn", "country": "-Fallback-scrubbed-wx",
        "postalCode": "17780", "phoneNumber": "8296293715", "faxNumber": "-Fallback-scrubbed-JoMrNAefNvkMkVU",
        "email": "Erin Mckenzie", "website": "Erin Mckenzie", "taxRegistrationNumber":
        "Erin Mckenzie", "currencyCode": "-Fallback-scrubbed-EnC", "currentFiscalYearStartDate":
        "-Fallback-scrubbed-gMrBKsvHIA", "industry": "Erin Mckenzie", "experience":
        "-Fallback-scrubbed-DFdRoeiJR", "lastModifiedDateTime": "2026-02-04T03:43:12.517Z",
        "picture@odata.mediaReadLink": "-Fallback-scrubbed-MHoVmAwbEwhuGlvqfjxwzmhTwJSjQHORzHMjlWnxVqFfnyhEzZqUzXnkbfNLlkRHMzSSqUGOisWPqAiVoSmVeKZdNUUJokpgUTnhHJMfeqbHVqQufKCkLdqQLrzpWvDMwSXVtabvAGYjjKAElfOvMAhGKUxtjbbmmnnzUEqwCbPMOtqCXA"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 59bc1c35-f9a8-4616-9d6f-b2a5c056a189
      ms-correlation-x:
      - cfb4062c-b9e6-7d3e-0bff-41c4b8b92ca2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/generalLedgerEntries?%24filter=lastModifiedDateTime+gt+2026-07-17T00%3A00%3A00Z&%24expand=dimensionSetLines
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-gGcfyrGstSQYjlLwtGGxFBRUyjtjAJKkdvoPciICKyUQBWowsEHfIPZvGaWIMNkmUmzgIyQLsnTQswDFoIXPlwPJsuYSxACodpuoilJeDIqCoGRhJvmHAkNCvvmCFnRuOeVtWaleUvLDEdKx",
        "value": [{"@odata.etag": "-Fallback-scrubbed-ieRBjatoAtWpzmXWuBXtPPJRWjLgyygfHfddRkwhqIWg",
        "id": "48c70a2b-1082-f111-8070-7c1e52167ef6", "entryNumber": 5607, "postingDate":
        "-Fallback-scrubbed-UtGbziNXry", "documentNumber": "-Fallback-scrubbed-ndYmyq",
        "documentType": "-Fallback-scrubbed-bTzaPgP", "accountId": "-Fallback-scrubbed-HFHWrmTNfodxWCJNDAPhNToBgrhwmybKSJAt",
        "accountNumber": "-Fallback-scrubbed-EnaPU", "description": "-Fallback-scrubbed-JQiXxhwdEdTWrukcYWrodX",
        "debitAmount": 168.97484616781, "creditAmount": 7031, "additionalCurrencyDebitAmount":
        7031, "additionalCurrencyCreditAmount": 7031, "lastModifiedDateTime": "2026-07-17T18:49:03.097Z",
        "dimensionSetLines": []}, {"@odata.etag": "-Fallback-scrubbed-gBllgqcvPaCLQSNfxoQBCsMVJdTSyIalslFThfoMnEeN",
        "id": "4ec70a2b-1082-f111-8070-7c1e52167ef6", "entryNumber": 3271, "postingDate":
        "-Fallback-scrubbed-UtGbziNXry", "documentNumber": "-Fallback-scrubbed-ndYmyq",
        "documentType": "-Fallback-scrubbed-bTzaPgP", "accountId": "-Fallback-scrubbed-fgSaieqXSJlaBVZzGTMDacOOPahFJGiwAnKb",
        "accountNumber": "-Fallback-scrubbed-SlBFM", "description": "-Fallback-scrubbed-JQiXxhwdEdTWrukcYWr[...]
