interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-ZnDhJr", "scope": "-Fallback-scrubbed-wYcocSKeevAJYasuQhqSRFhOkBjHIKZFpUDNLzYxtwv",
        "expires_in": "3981", "ext_expires_in": "-Fallback-scrubbed-cuCh", "expires_on":
        "-Fallback-scrubbed-bqNJeGLgjh", "not_before": "-Fallback-scrubbed-rXrNaZOcvl",
        "resource": "-Fallback-scrubbed-XmVIyLmBOKYxVIpPzpapBVEitBcHYGYCopwGTjJu",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-TLXYwoUMvxSlyRJVGMCxlJmmKXzWLWjVLInL",
        "applicationFamily": "-Fallback-scrubbed-jGUNMUCDhCMAKvY", "type": "-Fallback-scrubbed-tJRsAxr",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-GE", "webServiceUrl":
        "-Fallback-scrubbed-XmVIyLmBOKYxVIpPzpapBVEitBcHYGYCopwGTjJu", "webClientLoginUrl":
        "-Fallback-scrubbed-TuZPbplVhPueBNdCuuNfoIcYdKvudmYzbzUB"}, {"aadTenantId":
        "-Fallback-scrubbed-TLXYwoUMvxSlyRJVGMCxlJmmKXzWLWjVLInL", "applicationFamily":
        "-Fallback-scrubbed-jGUNMUCDhCMAKvY", "type": "-Fallback-scrubbed-urJZEryZLU",
        "name": "Production", "countryCode": "-Fallback-scrubbed-kX", "webServiceUrl":
        "-Fallback-scrubbed-XmVIyLmBOKYxVIpPzpapBVEitBcHYGYCopwGTjJu", "webClientLoginUrl":
        "-Fallback-scrubbed-TuZPbplVhPueBNdCuuNfoIcYdKvudmYzbzUB"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - bc5eb3e9-4442-4004-96e9-ffe9a5bb5ae3
      ms-correlation-x:
      - 05220466-942d-57ae-0204-a6d8ff91edf7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-pLvoTSJKzLPGcVAdoHgamgjstWFYAIqewKElPDmedhmcuepLpwpCeAonqyxZpoPCzEejtRKRzvMaOpKfHClDv",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-umVxtAqftZXtXrwO", "timestamp": 9752, "name": "CRONUS
        USA, Inc.", "displayName": "Gary Meadows", "businessProfileId": "Gary Meadows",
        "systemCreatedAt": "-Fallback-scrubbed-fEFOcItWfGjJaVcjVmCCjppu", "systemCreatedBy":
        "-Fallback-scrubbed-CdfTQrWlvCeQsOQjXiKmcRmjUaYNCubPQAck", "systemModifiedAt":
        "-Fallback-scrubbed-fEFOcItWfGjJaVcjVmCCjppu", "systemModifiedBy": "-Fallback-scrubbed-CdfTQrWlvCeQsOQjXiKmcRmjUaYNCubPQAck"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 36ee61fe-e1a2-46d0-b196-d865e871ceba
      ms-correlation-x:
      - d36c489d-c88d-c682-4d1f-d9daf565273b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-KmrWMtjJmVOFmFZGOdwSnSRQxmtUpvhmdcZQAQGoHQZWEMENjcjfjsVTFPdQRDFEsikNhiKtUNAoFLYCxgATTAbBFyHNbfuHoJWgLzgukDXExvENsqabRSqjZZwuyniQZhGfUoSAmZLFqd",
        "value": [{"@odata.etag": "-Fallback-scrubbed-EbbUgOKrWQpoguGXXoNGOkcjmtHnihIvzwqpSKofPkQS",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Diana Barry",
        "addressLine1": "163 Crosby Dam", "addressLine2": "7158 Dustin Manor Suite
        342", "city": "Thompsonmouth", "state": "-Fallback-scrubbed-qz", "country":
        "-Fallback-scrubbed-kX", "postalCode": "96817", "phoneNumber": "(693)786-1529x531",
        "faxNumber": "-Fallback-scrubbed-ALSDynvsKLJkFRt", "email": "Gary Meadows",
        "website": "Gary Meadows", "taxRegistrationNumber": "Gary Meadows", "currencyCode":
        "-Fallback-scrubbed-PGQ", "currentFiscalYearStartDate": "-Fallback-scrubbed-pPTbHmsbzE",
        "industry": "Gary Meadows", "experience": "-Fallback-scrubbed-QawmpcGzN",
        "lastModifiedDateTime": "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink":
        "-Fallback-scrubbed-bWKFvTIlaPeUYSFtHyQOXHBWKrBOdIBSQUXNBBpfBpBKZIiILkPRgrmGyLPRnXBnvsANHMLYNguscCxKtKUlwZPqSHxbWnTmPAquPMlkdHsNmGGEQWsRbEWpUaMeFPHoNkXgroTCbwzsdANPiGQbRwcZINuZHETgDJHRNRNZjkiTRIgKDq"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - cad73155-fb56-43cd-9fe5-45dc3fa4ab31
      ms-correlation-x:
      - 7ac423ae-4e15-ae84-bdf5-ccd7f8aa2b0b
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/vendors?%24filter=lastModifiedDateTime+gt+2026-06-01T00%3A00%3A00Z&%24expand=defaultDimensions
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-FLDlPIAveOpNDafJeneNKMoPKnkFywtWaHLXMsRSdVbVUnSQDQUXzBJwtgHlwDMIlUTwDUDBzaoqIUmzuNeruaMYuXyQVCGELGsYwtLqtucwhLIEjUYzwyqrHZNkQvnZpCy",
        "value": [{"@odata.etag": "-Fallback-scrubbed-zYPSzCdwuvQPcewYWrVjPbhVHOOyiAgjjQzFbCYvZXhi",
        "id": "7253cc12-5580-f111-8070-7c1e52167ef6", "number": "-Fallback-scrubbed-GawQIm",
        "displayName": "Jerome Butler", "addressLine1": "562 Erickson View Suite 419",
        "addressLine2": "Gary Meadows", "city": "South Gina", "state": "-Fallback-scrubbed-Rz",
        "country": "-Fallback-scrubbed-kX", "postalCode": "66063", "phoneNumber":
        "Gary Meadows", "email": "Gary Meadows", "website": "Gary Meadows", "taxRegistrationNumber":
        "Gary Meadows", "currencyId": "-Fallback-scrubbed-ysQgWKzwFoBdbNrQLjzZnhDapgmLnTNgQnYB",
        "currencyCode": "-Fallback-scrubbed-PGQ", "irs1099Code": "Gary Meadows", "paymentTermsId":
        "-Fallback-scrubbed-rnBWwHwOqAJsUCEtsomcnETMVXeaSHzGWNoc", "paymentMethodId":
        "-Fallback-scrubbed-rnBWwHwOqAJsUCEtsomcnETMVXeaSHzGWNoc", "taxLiable": true,
        "blocked": "-Fallback-scrubbed-qzprIZE", "balance": 5461, "lastModifiedDateTime":
        "2026-07-15T13:57:19.397Z", "defaultDimensions": []}, {"@odata.etag": "-Fallback-scrubbed-qZqLocbbQGfujptJVrnOWvFVRzoNSBYgyUiznDQtotPf",
        "id": "7553cc12-5580-f111-8070-7c1e52167ef6", "number": "-Fallback-scrubbed-KryMpA",
        "displayName": "Nicholas Hood", "addressLine1": "562 Erickson View Suite 419",
        "addressLine2": "Gary Meadows", "city": "South Gina", "state": "-Fallback-scrubbed-Rz",
        "country": "-Fallback-scrubbed-kX", "postalCode": "66063", "phoneNumber":
        "Gary Meadows", "email": "Gary Meadows", "web[...]
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/microsoft/reportsFinance/beta/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/dimensionValues
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-kdLAXTXxCamUqdXeDxEgWqzYiuMFsAGzYQGBTMqVrXLOPTaMkdYpXxEiAFmneZlAZMKevuWlxeykeMbklgLAJOgFERSRnfKyTEfncUZgTmEuadGvojbjNThzwQPiafGZCeAihxANCJzfZKCTXMLpnmwskeFldheCcGdN",
        "value": [{"@odata.etag": "-Fallback-scrubbed-HTkJhmuivzihQopnKgvtrmPvMrlrEQOYIfQxyVvrpNue",
        "id": "0f91419f-7b01-f111-a1fd-7ced8d2674f8", "dimensionCode": "-Fallback-scrubbed-scBv",
        "dimensionValueCode": "-Fallback-scrubbed-tM", "dimensionValueName": "-Fallback-scrubbed-sDqcbZ",
        "dimensionValueId": 5791, "dimensionValueType": "-Fallback-scrubbed-ikaJlxJMoSD",
        "blocked": true, "indentation": 5461, "consolidationCode": "Gary Meadows",
        "globalDimensionNumber": 5461, "lastModifiedDateTime": "2026-02-04T03:43:10.703Z"},
        {"@odata.etag": "-Fallback-scrubbed-lJtccVVkNamSesVylDVUSNeWAguLMFIRljCTOKftjmBw",
        "id": "1091419f-7b01-f111-a1fd-7ced8d2674f8", "dimensionCode": "-Fallback-scrubbed-scBv",
        "dimensionValueCode": "-Fallback-scrubbed-rc", "dimensionValueName": "-Fallback-scrubbed-yOXgLccPZoJM",
        "dimensionValueId": 3505, "dimensionValueType": "-Fallback-scrubbed-ikaJlxJMoSD",
        "blocked": true, "indentation": 5791, "co[...]
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/currencies?%24filter=lastModifiedDateTime+gt+2026-06-01T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-essqNqjpZsAoQKPdAeISqoPZJrXNsCdISloNHfApBdhMhqmPEzUPpaUQjvxqQPrnmOTHHpypUNhhEcKSFcbMSqHqaWEREJqBQXZCQDOznYuLievCFHzWdiPxQHxLuWuXAQTqeH",
        "value": []}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 7cdc6cf3-37ee-4e81-b1f9-e5fed8e6b0e9
      ms-correlation-x:
      - b1ca4a7d-cc45-3ee5-121c-fc182b565768
    status:
      code: 200
      message: OK
version: 1
