interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-nUNrzC", "scope": "-Fallback-scrubbed-GOpBoZgZUYVvQlnrOaaiTPEvQSkLTRVvkWnZtJoaXtG",
        "expires_in": "4365", "ext_expires_in": "-Fallback-scrubbed-Kivs", "expires_on":
        "-Fallback-scrubbed-VcIsPlXgbf", "not_before": "-Fallback-scrubbed-xrKdkNoXbO",
        "resource": "-Fallback-scrubbed-DRIByBPEwUXhHAMfJGGfNleVxrTGaQDtuxQEdbzr",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-dzqnAFUanutSHyhMoLPozwHLdKcKoamizGyP",
        "applicationFamily": "-Fallback-scrubbed-WWmphmuTFCrdQTT", "type": "-Fallback-scrubbed-hFYGwAd",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-Ze", "webServiceUrl":
        "-Fallback-scrubbed-DRIByBPEwUXhHAMfJGGfNleVxrTGaQDtuxQEdbzr", "webClientLoginUrl":
        "-Fallback-scrubbed-miDjZFratMSHFvYYQrsrtINZcerYiNTliPqh"}, {"aadTenantId":
        "-Fallback-scrubbed-dzqnAFUanutSHyhMoLPozwHLdKcKoamizGyP", "applicationFamily":
        "-Fallback-scrubbed-WWmphmuTFCrdQTT", "type": "-Fallback-scrubbed-ObyfZiroQz",
        "name": "Production", "countryCode": "-Fallback-scrubbed-CU", "webServiceUrl":
        "-Fallback-scrubbed-DRIByBPEwUXhHAMfJGGfNleVxrTGaQDtuxQEdbzr", "webClientLoginUrl":
        "-Fallback-scrubbed-miDjZFratMSHFvYYQrsrtINZcerYiNTliPqh"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 4ed72b9a-7bf1-4b13-8835-ed4825435c0a
      ms-correlation-x:
      - 2e48698a-08d8-2fe8-1b37-b5d063441e16
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-BxiXIwSMuDFBarbriKJZXvFgDBjcuQIwsvWgojHfpKsJSAFaeighWzXSvulrqwadkSthDInAWSNaIhEIbrjvm",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-ctvAGKvDroDmEzCn", "timestamp": 9099, "name": "CRONUS
        USA, Inc.", "displayName": "Richard Smith", "businessProfileId": "Richard
        Smith", "systemCreatedAt": "-Fallback-scrubbed-fNybiGulkZDwAtUOdhbUkXcQ",
        "systemCreatedBy": "-Fallback-scrubbed-ILaZUEDhTPBOEpAwxVGYRrjtvGJdcMKopcYv",
        "systemModifiedAt": "-Fallback-scrubbed-fNybiGulkZDwAtUOdhbUkXcQ", "systemModifiedBy":
        "-Fallback-scrubbed-ILaZUEDhTPBOEpAwxVGYRrjtvGJdcMKopcYv"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 4efea452-062f-400c-b5a5-7410c05709d2
      ms-correlation-x:
      - c0330210-9b17-f14e-a865-52fb76847fe8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-krOFeqPTtRhUbWFvRkDxgZGjMzSGVwInHzPkbfUXzHTBEiODIlsQBPcMcpgDjtFogzpwtMkrGFGiWkPnhTTsYhHQPSMyieoJUKxMKOZKkWwHidumQDTzgHYzywEUVGGjdKzdGnqoqraAJr",
        "value": [{"@odata.etag": "-Fallback-scrubbed-MkyKrjOsuaZiYcYqHtJKWtvUpsytmtbDkcNvmsFwawPH",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Donald Burns",
        "addressLine1": "2085 Adams Avenue Apt. 075", "addressLine2": "43110 Cook
        Pine", "city": "North Holly", "state": "-Fallback-scrubbed-Pp", "country":
        "-Fallback-scrubbed-CU", "postalCode": "91798", "phoneNumber": "622-324-6439",
        "faxNumber": "-Fallback-scrubbed-JttdtGuHgoMjkcA", "email": "Richard Smith",
        "website": "Richard Smith", "taxRegistrationNumber": "Richard Smith", "currencyCode":
        "-Fallback-scrubbed-QHB", "currentFiscalYearStartDate": "-Fallback-scrubbed-jmKlRQjqBb",
        "industry": "Richard Smith", "experience": "-Fallback-scrubbed-jtBRkSgcd",
        "lastModifiedDateTime": "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink":
        "-Fallback-scrubbed-XEwUXNEIgLcJmAwZLkeDWdSAGytzabNXajziAqAcHRmUHcADmTjHYWpjqxfvTlCHazZbkWosbdWkmKpZwQqHbuNEHuUDkJojeCxekgiJYlwZeAldnzGPNAyfJDcmyxUzPPujsOYjPEXvpSOzUtQXIRlmDFbfWcSmJakfBjPHXLqsjXxMBJ"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 0a989942-840e-4df7-b8f4-6d5b2d616876
      ms-correlation-x:
      - 25b9be4d-5d43-c2be-3a67-6578b16c6dcf
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/locations
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-ucxiFBKJsYykNdTqXrRvPEohvrHrKLcdgDVzwvymVGlPNbDuKkOsDdBHAaMQOXoltllbiyMWWMkmZQsrvrsPGHLLpwUrqtzRpibegylVadELSxeEzAIhaVllQjbItMcioGmaU",
        "value": [{"@odata.etag": "-Fallback-scrubbed-CJIJnciODPnxPyJdELgfXGSQRYuLWfVswpPvztgKLvFC",
        "id": "8596419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-QsmI",
        "displayName": "Tyler Sims", "contact": "-Fallback-scrubbed-XCNEVrAeVq", "addressLine1":
        "15108 Kristin River Suite 723", "addressLine2": "Richard Smith", "city":
        "North Holly", "state": "-Fallback-scrubbed-Pp", "country": "-Fallback-scrubbed-CU",
        "postalCode": "91798", "phoneNumber": "Richard Smith", "email": "Richard Smith",
        "website": "Richard Smith", "lastModifiedDateTime": "2026-02-04T03:43:15.01Z"},
        {"@odata.etag": "-Fallback-scrubbed-YtNAiZzOMPmgYtKaXlTNTfvPdLYxieanxvcHIiqMpWTO",
       [...]
