interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-MoBzzH", "scope": "-Fallback-scrubbed-pZDynctYgPuGnBASytDyKlyPAqFmLFCHJXdZOKVPvnE",
        "expires_in": "3939", "ext_expires_in": "-Fallback-scrubbed-wwFK", "expires_on":
        "-Fallback-scrubbed-mniuiQkpKa", "not_before": "-Fallback-scrubbed-YaRspjYeok",
        "resource": "-Fallback-scrubbed-NcXwbPQzdImsOzOKwrtHHZAfDitrjpzjgeTtVOyq",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-PfqKowAknqGhBYEJyeSXkDcstRMOEIrWcgOe",
        "applicationFamily": "-Fallback-scrubbed-CfTeLCIquDebemp", "type": "-Fallback-scrubbed-vFwvOBL",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-fj", "webServiceUrl":
        "-Fallback-scrubbed-NcXwbPQzdImsOzOKwrtHHZAfDitrjpzjgeTtVOyq", "webClientLoginUrl":
        "-Fallback-scrubbed-tahwqLMirCRXPEgPKMacbIqWpEhrnmjNHjxt"}, {"aadTenantId":
        "-Fallback-scrubbed-PfqKowAknqGhBYEJyeSXkDcstRMOEIrWcgOe", "applicationFamily":
        "-Fallback-scrubbed-CfTeLCIquDebemp", "type": "-Fallback-scrubbed-qRJypJbfXb",
        "name": "Production", "countryCode": "-Fallback-scrubbed-tr", "webServiceUrl":
        "-Fallback-scrubbed-NcXwbPQzdImsOzOKwrtHHZAfDitrjpzjgeTtVOyq", "webClientLoginUrl":
        "-Fallback-scrubbed-tahwqLMirCRXPEgPKMacbIqWpEhrnmjNHjxt"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - f352009d-8e88-4ff2-91cd-6e7d422db4ad
      ms-correlation-x:
      - cc2c6c8d-90c5-592c-f21c-0e468be771ff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-TVmYPMpZFzYPCVcdPexnpjdaFuZpZgLpABJDqFMKSiucauTsczLciLxxsGZUoRcwsWzcBaMBSFOHWLfKflTNg",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-KepeFejWMLVyXhIh", "timestamp": 7560, "name": "CRONUS
        USA, Inc.", "displayName": "Roger Jones", "businessProfileId": "Roger Jones",
        "systemCreatedAt": "-Fallback-scrubbed-qBhuHSZhfhRBUFOdcMPYtnYu", "systemCreatedBy":
        "-Fallback-scrubbed-oVLFHOVUVdGBFwqrBKGIimmnfkrLnUaPNrfS", "systemModifiedAt":
        "-Fallback-scrubbed-qBhuHSZhfhRBUFOdcMPYtnYu", "systemModifiedBy": "-Fallback-scrubbed-oVLFHOVUVdGBFwqrBKGIimmnfkrLnUaPNrfS"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 28687d24-56f0-4630-b8d7-a75b1bfa1f7a
      ms-correlation-x:
      - 02098c46-2247-efc6-df2e-455520509c93
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-sxbXzSZbWGbfLhoJnZJzxAFhhixjTxvoMXdxkKvmKYLIfEQhCnAEJHtiBzHaGWSxRWLGctiSluoGkqAxorcIYQQBSUtUawZaovFtycfsKXieIQBnJMKhyJlvGBVnDgUyBXPLIPwUwwTzcz",
        "value": [{"@odata.etag": "-Fallback-scrubbed-phEDNtdPQfLjlyateWxLhTprOxBxVLSmqNKmZLsZbGeP",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "John Mendoza",
        "addressLine1": "51907 David Trail Suite 457", "addressLine2": "476 Smith
        Path Suite 758", "city": "Cookfurt", "state": "-Fallback-scrubbed-HL", "country":
        "-Fallback-scrubbed-tr", "postalCode": "24661", "phoneNumber": "856.884.8071x903",
        "faxNumber": "-Fallback-scrubbed-GKglRexlZWpykvF", "email": "Roger Jones",
        "website": "Roger Jones", "taxRegistrationNumber": "Roger Jones", "currencyCode":
        "-Fallback-scrubbed-qan", "currentFiscalYearStartDate": "-Fallback-scrubbed-qQQOUfDeDr",
        "industry": "Roger Jones", "experience": "-Fallback-scrubbed-LXBfQqtdp", "lastModifiedDateTime":
        "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink": "-Fallback-scrubbed-hCDoAKyjmAKgPvRhEMhKktNEffgwDSrPKHMKEOQuBhFerOsFvleGnJyjWCFBxnIisPhdCHpyPiixvcyUbBsiFCDbywPGYtsCYCrwbToPGKrdwvglARSGoCxrhMsyeZxRWbukhiENIcogkFpwUUASaMZJBcqHcesRjpnEXctEvVqWudPqHW"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 8f45ac61-97ba-4bc4-91df-56ffcb05845e
      ms-correlation-x:
      - b261eb09-c2ca-8f8c-43bc-d75812d1f206
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/generalLedgerEntries?%24filter=lastModifiedDateTime+gt+2026-07-15T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-JxciFDOzJBOGpHFbSuFvULDKAsPVXOarAFbxzkpzarsqfiEkgXEXXrVAuGdtRvrQLkoTUhNGixZFZKFUZgdNsVXKWBhbtDwoXYQGNFhYxMXjxbKuoQsLyDMFfRmxiLiPjoIWOQHAXKSRcnra",
        "value": [{"@odata.etag": "-Fallback-scrubbed-sFrzPTBwhIHATmFPzFYBvSGyPKfNCIdgtnHzBcJICZud",
        "id": "7c46f200-9580-f111-8070-0022483430dd", "entryNumber": 3904, "postingDate":
        "-Fallback-scrubbed-uZaqFfvVtq", "documentNumber": "-Fallback-scrubbed-ziCtcGK",
        "documentType": "-Fallback-scrubbed-bDmOToU", "accountId": "-Fallback-scrubbed-kEeSyWnBnwtqYmiIcDgyjYbRHFcsbYWQWHuw",
        "accountNumber": "-Fallback-scrubbed-RtzxD", "description": "-Fallback-scrubbed-FJaOZUEloablCarTCuodU",
        "debitAmount": 340, "creditAmount": 2495, "additionalCurrencyDebitAmount":
        340, "additionalCurrencyCreditAmount": 340, "lastModifiedDateTime": "2026-07-15T21:34:51.827Z",
        "dimensionSetLines": [{"@odata.etag": "-Fallback-scrubbed-OxXgiZOqCXehqyeoADcNeiGoPWbMiwEeaKwDFHaptwRr",
        "id": "1107baae-6e27-f111-8340-00224829d901", "code": "-Fallback-scrubbed-rUkrZ",
        "consolidationCode": "Roger Jones", "parentId": "-Fallback-scrubbed-fWzINvZreAgrBRwJOtZQPzyFmnrxgCJUwhQo",
        "parentType": "-Fallback-scrubbed-dVcuMSHJFpZAPoHEzDxDTjBeoNGeKueM", "displayName":
        "Taylor Kennedy", "valueId": "-Fallback-scrubbed-eVHbiTDfmzazHZuUAuSoBIKnufCCsRZziQnQ",
        "valueCode": "-Fallback-scrubbed-tDkqlF", "valueConsolidationCode": "Roger
        Jones", "valueDisplayName": "-Fallback-scrubbed-WZetAA"}, {"@odata.etag":
        "-Fallback-scrubbed-dyeiEMYPTaQHKspIRfopijxPPFbdWwwjQBPbLrJgNKnT", "id": "0a91419f-7b01-f111-a1fd-7ced8d2674f8",
        "code": "-Fallback-scrubbed-zihC", "consolidationCode": "Roger Jones", "parentId":
        "-Fallback-scrubbed-fWzINvZreAgrBRwJOtZQPzyFmnrxgCJUwhQo", "parentType": "-Fallback-scrubbed-dVcuMSHJFpZAPoHEzDxDTjBeoNGeKueM",
        "displayName": "Kelly Gilmore", "valueId": "-Fallback-scrubbed-SSVIGHUKcknzCEQcOLlkZnOtVbUCFalgXP[...]
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/generalLedgerEntries(7c46f200-9580-f111-8070-0022483430dd)/dimensionSetLines
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-IJtgkAIkbiKjXkcTOcMlEZcEvAmThHFafsVkDjZbkRAHvikXVOwJIULgOhrJErYCRaunFvZFPyPkUckpJjfLbhuscDPchdza[...]
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/generalLedgerEntries(63c70a2b-1082-f111-8070-7c1e52167ef6)/dimensionSetLines
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-VCCBkNXybTldPLqPpMvCJcMwaVFDsuskAbNxcUHIDJqetmlHdfpylwCJsFblkzEXKCenUNcGHMNSKWTVBNwZUWEBNHVIglFCwGuODTTngQXeglzVcqbNdyuGPHiQPfdagKJbnuFjZnatLfPvOuBaDsVtHvvHqeOPqTIEeBTMcycRlKvOKBCprwRKXVhNucsPrVTqZcuG",
        "value": []}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 96bf9093-ebd1-4d05-85e8-fa3ce76dc47d
      ms-correlation-x:
      - 935401fd-47ae-9148-d180-3c69ee6b1224
    status:
      code: 200
      message: OK
version: 1
