interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-seKzJi", "scope": "-Fallback-scrubbed-xovuFRqPmzjkBJXxJjANVRcWlevkHdYMechHgkMKopH",
        "expires_in": "5386", "ext_expires_in": "-Fallback-scrubbed-GwuP", "expires_on":
        "-Fallback-scrubbed-qNEhCLDKII", "not_before": "-Fallback-scrubbed-qoopyrqWfg",
        "resource": "-Fallback-scrubbed-kVyRLAyfEcNMILfMImRyZTNgruLlBgAkOmqwsfnc",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-NhJRKbkBUGmHQfhzOOSpTVgMzoblCZdHfKiC",
        "applicationFamily": "-Fallback-scrubbed-jfxWGleqKCuLkCD", "type": "-Fallback-scrubbed-UpLUoFO",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-oj", "webServiceUrl":
        "-Fallback-scrubbed-kVyRLAyfEcNMILfMImRyZTNgruLlBgAkOmqwsfnc", "webClientLoginUrl":
        "-Fallback-scrubbed-OeYgLeXwcPoevBcWJYDwYBYLCSstGYTwVcTo"}, {"aadTenantId":
        "-Fallback-scrubbed-NhJRKbkBUGmHQfhzOOSpTVgMzoblCZdHfKiC", "applicationFamily":
        "-Fallback-scrubbed-jfxWGleqKCuLkCD", "type": "-Fallback-scrubbed-xRZfcuaXRl",
        "name": "Production", "countryCode": "-Fallback-scrubbed-EM", "webServiceUrl":
        "-Fallback-scrubbed-kVyRLAyfEcNMILfMImRyZTNgruLlBgAkOmqwsfnc", "webClientLoginUrl":
        "-Fallback-scrubbed-OeYgLeXwcPoevBcWJYDwYBYLCSstGYTwVcTo"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 806c21c8-e048-4ad9-a4e9-8f61892c3910
      ms-correlation-x:
      - fca5dcbf-bbe0-c5a1-0884-556c28929da0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-WnIlyFOrWevGmyftPbNNqxdidyjQrGXsxdyMWQGfPUNTJWYCwLDZgVYlsfqbKOZYtUJabuHRemXWZdBodDfCI",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-UaeXsXscUpFGAVri", "timestamp": 8394, "name": "CRONUS
        USA, Inc.", "displayName": "Brian Cannon", "businessProfileId": "Brian Cannon",
        "systemCreatedAt": "-Fallback-scrubbed-gmzXxdPdaHMcONXMLcfWhTup", "systemCreatedBy":
        "-Fallback-scrubbed-SToYxeJTFNIOCBgNiGJgQBpDfGlJhHEAvnHl", "systemModifiedAt":
        "-Fallback-scrubbed-gmzXxdPdaHMcONXMLcfWhTup", "systemModifiedBy": "-Fallback-scrubbed-SToYxeJTFNIOCBgNiGJgQBpDfGlJhHEAvnHl"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 52fd1fa0-ead3-4ec2-b54b-505f7e5b6419
      ms-correlation-x:
      - d9a3b27a-e813-1377-a7ae-89dd746ebb8d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-niSXageVhSJoKAIXztKxERMcdgSifqVCnPVNRcOibSZCDcKgDmeQHbQLzBTGhmQPtaTzPiwVERohFLDdYfUaavkVJOUgpnvubkQVkSTjKVlruyJkIxSUfsfwTSoeLlHfgrKewESCyKQgXA",
        "value": [{"@odata.etag": "-Fallback-scrubbed-IiWRFYeEKejTgkEMuvYecVbgJZhvEfmqmPEEjuXutQIp",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Rodney Morrison",
        "addressLine1": "7717 Osborne Inlet", "addressLine2": "1094 Dalton Inlet",
        "city": "Port Kimberly", "state": "-Fallback-scrubbed-MX", "country": "-Fallback-scrubbed-EM",
        "postalCode": "91944", "phoneNumber": "001-403-262-1458x410", "faxNumber":
        "-Fallback-scrubbed-xgFljwNDBgbFeVo", "email": "Brian Cannon", "website":
        "Brian Cannon", "taxRegistrationNumber": "Brian Cannon", "currencyCode": "-Fallback-scrubbed-JEb",
        "currentFiscalYearStartDate": "-Fallback-scrubbed-wppEZwdpDC", "industry":
        "Brian Cannon", "experience": "-Fallback-scrubbed-bgtRpYvQJ", "lastModifiedDateTime":
        "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink": "-Fallback-scrubbed-zdEfPGRDliqZVfTrXpgBRtQxDXpebtWyzTYjtAHLJogbTFxJIpEuPyGpebxJbAjdNoDiMPemcYPwLJmwvLahnisIwgaPOPwzlAQNjpBgYDtSJCiRyxVJGCiVUnPYhBJNpOjbOUPLNJFqjODiwFEOgezrVGVdLrOTosAKjlmleRNQSzBclW"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 34d11a63-ae8c-44c8-8bea-6de8a262c94c
      ms-correlation-x:
      - 588877a7-fe2e-28bc-f247-25d8aa9f62ea
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/vendors?%24filter=lastModifiedDateTime+gt+2026-06-01T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-GBCtFkYoDxjLNQQuNvJgRsgTbiNTVsBhLnRIXCFrTTVLtpvUSEopOKrLaJmIEpuKjVcpagUWBnlhlAoILfCyDsJDnzkbtdAFkOBeoRsQDaFdyPVxTZsKgUDxqckyosYsvWn",
        "value": [{"@odata.etag": "-Fallback-scrubbed-CfVKlbgPgEAvWUaDKEVlqymLRuqNBReCeSgEuTwevcYo",
        "id": "7253cc12-5580-f111-8070-7c1e52167ef6", "number": "-Fallback-scrubbed-AWSNcA",
        "displayName": "Tiffany Scott", "addressLine1": "44840 Owens Parks", "addressLine2":
        "Brian Cannon", "city": "East George", "state": "-Fallback-scrubbed-va", "country":
        "-Fallback-scrubbed-EM", "postalCode": "71550", "phoneNumber": "Brian Cannon",
        "email": "Brian Cannon", "website": "Brian Cannon", "taxRegistrationNumber":
        "Brian Cannon", "currencyId": "-Fallback-scrubbed-RmzDQEJrJYMmfzOjsnEoMxJdRRRzrqCgMXnD",
        "currencyCode": "-Fallback-scrubbed-JEb", "irs1099Code": "Brian Cannon", "paymentTermsId":
        "-Fallback-scrubbed-EufKdnTdrwUyINCrOOqcjZOUUNKpAXAiloJJ", "paymentMethodId":
        "-Fallback-scrubbed-EufKdnTdrwUyINCrOOqcjZOUUNKpAXAiloJJ", "taxLiable": false,
        "blocked": "-Fallback-scrubbed-tajolTy", "balance": 7797, "lastModifiedDateTime":
        "2026-07-15T13:57:19.397Z", "defaultDimensions": []}, {"@odata.etag": "-Fallback-scrubbed-RFSspNgkACmQcmljFUyZuaUgmmLmwHzfTvksZhBQSvxP",
        "id": "7553cc12-5580-f111-8070-7c1e52167ef6", "number": "-Fallback-scrubbed-GYCODr",
        "displayName": "Steven Johnson", "addressLine1": "44840 Owens Parks", "addressLine2":
        "Brian Cannon", "city": "East George", "state": "-Fallback-scrubbed-va", "country":
        "-Fallback-scrubbed-EM", "postalCode": "71550", "phoneNumber": "Brian Cannon",
        "email": "Brian Cannon", "website": "[...]
