interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-huXIxE", "scope": "-Fallback-scrubbed-IURDWAXwlSjhfBrSEuGcwCJQcsSuApdwgUbQWDZZFug",
        "expires_in": "4715", "ext_expires_in": "-Fallback-scrubbed-eRbA", "expires_on":
        "-Fallback-scrubbed-PEAKAjoTpA", "not_before": "-Fallback-scrubbed-JsgZgenlmh",
        "resource": "-Fallback-scrubbed-oFqQKAjQPslTbyKWvYDgpGyxCoGqkOSOkhLqZbEo",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-OtXAVoppraNBafNnLpJBnkwBawNqnIcPfIHV",
        "applicationFamily": "-Fallback-scrubbed-fefNFNooBsmgepB", "type": "-Fallback-scrubbed-BWnweGi",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-PL", "webServiceUrl":
        "-Fallback-scrubbed-oFqQKAjQPslTbyKWvYDgpGyxCoGqkOSOkhLqZbEo", "webClientLoginUrl":
        "-Fallback-scrubbed-zMYTuvRCpdOpGWBpJvgksquyyTgggZnSVwdJ"}, {"aadTenantId":
        "-Fallback-scrubbed-OtXAVoppraNBafNnLpJBnkwBawNqnIcPfIHV", "applicationFamily":
        "-Fallback-scrubbed-fefNFNooBsmgepB", "type": "-Fallback-scrubbed-UGPwMhMrJW",
        "name": "Production", "countryCode": "-Fallback-scrubbed-yb", "webServiceUrl":
        "-Fallback-scrubbed-oFqQKAjQPslTbyKWvYDgpGyxCoGqkOSOkhLqZbEo", "webClientLoginUrl":
        "-Fallback-scrubbed-zMYTuvRCpdOpGWBpJvgksquyyTgggZnSVwdJ"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 18e5b5e9-df22-4ac0-8042-da8cbac3cad5
      ms-correlation-x:
      - ee516cb5-350c-3436-65fb-453f953edd62
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-eBucQQhtIkKwdiXXbkoxymlRWWvMgBHnxZHnQTdWooNgOIaVJgiuBjtHlULnFViUgiuHjhhfPPJqILVuNRUtO",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-GlDFYqembgPspfkN", "timestamp": 9327, "name": "CRONUS
        USA, Inc.", "displayName": "Alexis Simmons", "businessProfileId": "Alexis
        Simmons", "systemCreatedAt": "-Fallback-scrubbed-tMHOvhqiHbilYYJuvKAcJTOY",
        "systemCreatedBy": "-Fallback-scrubbed-mIiUyPnggHkRFCcKCOvFTsLgUtbRknKkkWJu",
        "systemModifiedAt": "-Fallback-scrubbed-tMHOvhqiHbilYYJuvKAcJTOY", "systemModifiedBy":
        "-Fallback-scrubbed-mIiUyPnggHkRFCcKCOvFTsLgUtbRknKkkWJu"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 5c4770be-81de-466a-b88f-6c1b89af08f6
      ms-correlation-x:
      - 5db48db4-479f-2f98-5953-fb850b451268
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-EhKCMGJoahkhucxjtSVKeRPKfIFtHVLClOJcRqERjxvvXsExyjNsUiNQWttNtYfEJcgDVAwggQFSjprNEwpevfprpJtBwlHAHuxPOCprAvjejdvbbcgkknKJoxbIAAMKQRLSCIHJXYuneD",
        "value": [{"@odata.etag": "-Fallback-scrubbed-IySryVFQaElJSAosUaJRYlhgKtTtgGTMGaoqxlLRuHAR",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Dr. Tracy Conner
        DVM", "addressLine1": "62260 Matthew Port Suite 932", "addressLine2": "31723
        Lyons Mountain Apt. 331", "city": "Port Shirleyview", "state": "-Fallback-scrubbed-hm",
        "country": "-Fallback-scrubbed-yb", "postalCode": "63487", "phoneNumber":
        "866-641-4035x88759", "faxNumber": "-Fallback-scrubbed-QKGYzCfiKDHcrfm", "email":
        "Alexis Simmons", "website": "Alexis Simmons", "taxRegistrationNumber": "Alexis
        Simmons", "currencyCode": "-Fallback-scrubbed-atP", "currentFiscalYearStartDate":
        "-Fallback-scrubbed-WlLGSOSHOG", "industry": "Alexis Simmons", "experience":
        "-Fallback-scrubbed-ZfGpLkLqW", "lastModifiedDateTime": "2026-02-04T03:43:12.517Z",
        "picture@odata.mediaReadLink": "-Fallback-scrubbed-TGiRIOyBWzlhdqSDthiGCCZVWHVWIzOSypPmUgFWQOvpeIibxGPtNnpjrrBstyWzdTFZWaPtfkYTuvUArdEZrKyZdRTrohVuNutULTntPxsbuSxFmPdNQkDkmPFPWDyCMgYqRPdpUYcWbBknqbBNSkqoaxwfqquqzuHJGloOrOmACqiclN"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 8b727039-f744-47b5-8d74-ad92bce8d671
      ms-correlation-x:
      - 727b721b-fbf2-51c1-a802-99b5930f5166
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/locations
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-AYNvCssHBpBIAxCCnyHsZNNyqBdUTlFmxjaFzfXlKzroPxreDZPOUDqVptZvoHgXFZrzHnaOCQxwehqtoHoPFnaBYdTaMeQnGckcBBsVHNPVnNtEsCoByZztcaLuIytEGcRHP",
        "value": [{"@odata.etag": "-Fallback-scrubbed-emsCEtalHGoIYmszMuUgToUEiWLvHKTfGfcKHKjRsPeo",
        "id": "8596419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-MjpI",
        "displayName": "Benjamin Collins", "contact": "-Fallback-scrubbed-JLGBwrzKUC",
        "addressLine1": "8181 Gabriella Unions Suite 630", "addressLine2": "Alexis
        Simmons", "city": "Port Shirleyview", "state": "-Fallback-scrubbed-hm", "country":
        "-Fallback-scrubbed-yb", "postalCode": "63487", "phoneNumber": "Alexis Simmons",
        "email": "Alexis Simmons", "website": "Alexis Simmons", "lastModifiedDateTime":
        "2026-02-04T03:43:15.01Z"}, {"@odata.etag": "-Fallback-scrubbed-eWFEmIuxWkgRtFIcFWdNVDmzeeUtzCztRaCnDwXkbRE[...]
