interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-awTDUH", "scope": "-Fallback-scrubbed-WsZSDsjyAxzXLiwKmbDJErbNfmgiRHlAprQQRnsnDSV",
        "expires_in": "4900", "ext_expires_in": "-Fallback-scrubbed-CafW", "expires_on":
        "-Fallback-scrubbed-kFKyssZZFm", "not_before": "-Fallback-scrubbed-rBeiCxJzWY",
        "resource": "-Fallback-scrubbed-dVgmCVjLNXXXlUetLamGEnErPyoYlmkihhyCfAwz",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-lrkicazFpRchxQNaedOJxmYuFtOELzspmDCN",
        "applicationFamily": "-Fallback-scrubbed-ZJrhhiQgMvjWTsO", "type": "-Fallback-scrubbed-pXNqFrV",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-Cg", "webServiceUrl":
        "-Fallback-scrubbed-dVgmCVjLNXXXlUetLamGEnErPyoYlmkihhyCfAwz", "webClientLoginUrl":
        "-Fallback-scrubbed-oprVLCglRaWJEEwrgRgOtQMfhcJKZUVfFPWP"}, {"aadTenantId":
        "-Fallback-scrubbed-lrkicazFpRchxQNaedOJxmYuFtOELzspmDCN", "applicationFamily":
        "-Fallback-scrubbed-ZJrhhiQgMvjWTsO", "type": "-Fallback-scrubbed-dpckLSMcFo",
        "name": "Production", "countryCode": "-Fallback-scrubbed-cW", "webServiceUrl":
        "-Fallback-scrubbed-dVgmCVjLNXXXlUetLamGEnErPyoYlmkihhyCfAwz", "webClientLoginUrl":
        "-Fallback-scrubbed-oprVLCglRaWJEEwrgRgOtQMfhcJKZUVfFPWP"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 8746e52b-c804-4aea-a7c7-6ee142fea439
      ms-correlation-x:
      - aa72317b-f9f4-1a60-47e4-a77db2347b7a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-BqyHEhGGjMuFnezbbDaJScFVGxZcFlWwDFcgrXyLnDMRhqzOmsvKoFuCiytRpNIZHAGQemWxehOONeNGsnwFN",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-PdHpOuHSQisGNfYT", "timestamp": 3619, "name": "CRONUS
        USA, Inc.", "displayName": "Ryan Miller", "businessProfileId": "Ryan Miller",
        "systemCreatedAt": "-Fallback-scrubbed-LVbtVmDODlhphyFUAkRDcwTg", "systemCreatedBy":
        "-Fallback-scrubbed-ztJJxsKbWAyptztnhHKATGNwNKMjQFKxPhkO", "systemModifiedAt":
        "-Fallback-scrubbed-LVbtVmDODlhphyFUAkRDcwTg", "systemModifiedBy": "-Fallback-scrubbed-ztJJxsKbWAyptztnhHKATGNwNKMjQFKxPhkO"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - a2ef79fe-7b15-42ee-83c5-606ff483133e
      ms-correlation-x:
      - 0b6dd124-0343-40df-aafd-b385f54f8632
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-XrVXwrAQgHtnmNiIuobAFJFFHALLioOeQMZzWLjZlBFZhBTssMQRijBFNIbBujIEUmnAwrtJgyTmUrrTWvgnxCzNVjsWtZEzGIsEJkXUssVNYQgmnpDhTPETFLIuvkhgDbZDQOBysXBROR",
        "value": [{"@odata.etag": "-Fallback-scrubbed-gRTJsjMveSCzSizyYkmWQyMxRbrHvKLAytVNhzxhPLpc",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Catherine White",
        "addressLine1": "816 White Ways Suite 211", "addressLine2": "254 Morgan Corner
        Suite 696", "city": "Benjaminton", "state": "-Fallback-scrubbed-vX", "country":
        "-Fallback-scrubbed-cW", "postalCode": "33283", "phoneNumber": "303.538.1036x7049",
        "faxNumber": "-Fallback-scrubbed-IiDlVcEEgbcJfjG", "email": "Ryan Miller",
        "website": "Ryan Miller", "taxRegistrationNumber": "Ryan Miller", "currencyCode":
        "-Fallback-scrubbed-bQs", "currentFiscalYearStartDate": "-Fallback-scrubbed-qxbnlKXVVm",
        "industry": "Ryan Miller", "experience": "-Fallback-scrubbed-NkJWKQtEy", "lastModifiedDateTime":
        "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink": "-Fallback-scrubbed-kkZfwLoEiJbRVNqrybXlxECIDqXkyUfDACYvemQriQCcrrIClqzYyXpPXvpWsPnrpDallltgCCXTOsnqYkjrsacylplJzgjIvefUaDMIeTPtsMSSmJEafbuPifXNBBAahWMJTtJiXNgfXepPvdUHkTLbkxOByCTzKwyidumhRgicEadmee"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 6e820e20-3541-4c4e-b7c8-6545c2205ade
      ms-correlation-x:
      - d16199da-f0cc-aada-3677-b6a0de5b13f5
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/microsoft/reportsFinance/beta/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/dimensionValues
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-RJKxpYDGaeQomKqBwlIYEOiqfqJgLOgqfYbnRCVOYIgFNWeYcOINsrzSWWKmFgjjYcUAxDuhBbOlzoMTmQalZsaxGybofiolMLqvEjUtUoBirJpqCtTUmIEyvsBdISzZXIeGbgSXToCOztWCbnOKyBuyVZsgRQslOrGS",
        "value": [{"@odata.etag": "-Fallback-scrubbed-hSMrXsFsQbzoiEaSDNuGJvervhbldYFVshBVZXQwjTuh",
        "id": "0f91419f-7b01-f111-a1fd-7ced8d2674f8", "dimensionCode": "-Fallback-scrubbed-tmDt",
        "dimensionValueCode": "-Fallback-scrubbed-lc", "dimensionValueName": "-Fallback-scrubbed-DvKWzH",
        "dimensionValueId": 2915, "dimensionValueType": "-Fallback-scrubbed-GdBLvnwmYHE",
        "blocked": false, "indentation": 1294, "consolidationCode": "Ryan Miller",
        "globalDimensionNumber": 1294, "lastModifiedDateTime": "2026-02-04T03:43:10.703Z"},
        {"@odata.etag": "-Fallback-scrubbed-zmrUtkuZtMwZshSWUCgNtSvHVdjQFVwfTeknOqulMzaQ",
        "id": "1091419f-7b01-f111-a1fd-7ced8d2674f8", "dimensionCode": "-Fallback-scrubbed-tmDt",
        "dimensionValueCode": "-Fallback-scrubbed-pR", "dimensionValueName": "-Fallback-scrubbed-CjkwaZYhyUum",
        "dimensionValueId": 7347, "dimensionValueType": "-Fallback-scrubbed-GdBLvnwmYHE",
        "blocked": false, "indentation": 2915, "c[...]
