interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-QSKIcW", "scope": "-Fallback-scrubbed-zBFEuaKvExuKMkvsNJmYBOJHTtnQtoWADbgIibtFZRT",
        "expires_in": "5285", "ext_expires_in": "-Fallback-scrubbed-SOcs", "expires_on":
        "-Fallback-scrubbed-EItCEOxaiM", "not_before": "-Fallback-scrubbed-ZaSbmGKQfu",
        "resource": "-Fallback-scrubbed-kLVXSnuIOAvDXVLqElcgBOpsywCTvelWFFAkLrRr",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-ocYXgOevYKiPHeKibKtTIIkJIqwEdDTHfDmP",
        "applicationFamily": "-Fallback-scrubbed-KJTsNoaETBRlWAi", "type": "-Fallback-scrubbed-nZafMhC",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-zL", "webServiceUrl":
        "-Fallback-scrubbed-kLVXSnuIOAvDXVLqElcgBOpsywCTvelWFFAkLrRr", "webClientLoginUrl":
        "-Fallback-scrubbed-rjtzscwMCZmXuApmTClxVoqUozMxFWFbdaGP"}, {"aadTenantId":
        "-Fallback-scrubbed-ocYXgOevYKiPHeKibKtTIIkJIqwEdDTHfDmP", "applicationFamily":
        "-Fallback-scrubbed-KJTsNoaETBRlWAi", "type": "-Fallback-scrubbed-LVaigItaim",
        "name": "Production", "countryCode": "-Fallback-scrubbed-Wg", "webServiceUrl":
        "-Fallback-scrubbed-kLVXSnuIOAvDXVLqElcgBOpsywCTvelWFFAkLrRr", "webClientLoginUrl":
        "-Fallback-scrubbed-rjtzscwMCZmXuApmTClxVoqUozMxFWFbdaGP"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 9388d4e3-e8b9-4dda-9f8a-8d10d6ea5b0d
      ms-correlation-x:
      - efbe37f3-c6ca-951c-aa56-0b28a5c66134
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-mrFlDgHpJXkUbOnAmnQrrmtkjrrDRAOULglRWoANRGHMdLZIGVMcIbIyAWTWFeOCPMlChKvOyWbZyZOvZNliL",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-JUXpLvmaQCmgTZsZ", "timestamp": 8192, "name": "CRONUS
        USA, Inc.", "displayName": "Aimee Greer", "businessProfileId": "Aimee Greer",
        "systemCreatedAt": "-Fallback-scrubbed-CgDLgxVOmazFxnFqnsCeQkqP", "systemCreatedBy":
        "-Fallback-scrubbed-dZCYEaaQEMdgMgbtWVLfcaoRWGgwivwiaAof", "systemModifiedAt":
        "-Fallback-scrubbed-CgDLgxVOmazFxnFqnsCeQkqP", "systemModifiedBy": "-Fallback-scrubbed-dZCYEaaQEMdgMgbtWVLfcaoRWGgwivwiaAof"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 217608ad-0135-4ef0-b5ca-a0203a1deb81
      ms-correlation-x:
      - f9a0a67a-6f63-2422-14aa-4a8142dff256
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-IooFVtZFBeNcPTVdcvOIKkSOfBEoSDuMnNMVeajzmhrHxraDfRVMGksfJWPFhZSIhrQxBkhoTHVzkqAFYPNfPmiQTftZUmCKVVsncUmvByUQWqDEoJhBdJwTxbdwOlfKXuPcGerCEfNgbo",
        "value": [{"@odata.etag": "-Fallback-scrubbed-akhUlXQTKpuKHCpqaWvHxTxmAZEjcvfdodgurMkkuqNw",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Megan Huffman",
        "addressLine1": "151 Long Glens Suite 749", "addressLine2": "96372 Ryan Land",
        "city": "Brendanland", "state": "-Fallback-scrubbed-RJ", "country": "-Fallback-scrubbed-Wg",
        "postalCode": "83550", "phoneNumber": "627.824.9365x046", "faxNumber": "-Fallback-scrubbed-JwyxRzeOttUJqeD",
        "email": "Aimee Greer", "website": "Aimee Greer", "taxRegistrationNumber":
        "Aimee Greer", "currencyCode": "-Fallback-scrubbed-gLF", "currentFiscalYearStartDate":
        "-Fallback-scrubbed-WyhPpUDmdH", "industry": "Aimee Greer", "experience":
        "-Fallback-scrubbed-ZliSeidqt", "lastModifiedDateTime": "2026-02-04T03:43:12.517Z",
        "picture@odata.mediaReadLink": "-Fallback-scrubbed-ZJXrTVYfFxZczkVbrovaqRPTXARIkjjvLKwZWHsKyPdXzMIbOODBYvkhbUTVbuWnwjJpMURYjUyUuxzZWUojDjweQKPZMVzXgVASRkatVyhUvzSfXjNwSAdSnUkfEsIxFstBcDZluzZVgigcxoIXBKVrKkBCbsEcqjZjByriensPNSRVjY"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 076de894-4f69-40d7-8ea9-63201b0be7ad
      ms-correlation-x:
      - d9343c39-ccbc-850c-706c-5b12b2555596
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/accounts
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-eJNMIObMBuHkguNcKnvCbnGalTlYWZvZvfeFHKfvhpdrwtILCfHrceedJrujqpLBiXNTqOeBPpoqGLORGhvOzdSNzbDiQBMfuZjnyMinVjBStEixxjknZcPOklWekktQJvmF",
        "value": [{"@odata.etag": "-Fallback-scrubbed-iHYQDrdAUzAiGELiUffKdaDxqRsqOstdoggONWXdpPjj",
        "id": "2ff14a99-7b01-f111-a1fd-7ced8d2674f8", "number": "-Fallback-scrubbed-PrxBq",
        "displayName": "Lisa Carney", "category": "-Fallback-scrubbed-aSsBzw", "subCategory":
        "-Fallback-scrubbed-aSsBzw", "blocked": true, "accountType": "-Fallback-scrubbed-OQMlKGf",
        "directPosting": true, "netChange": 6646, "consolidationTranslationMethod":
        "-Fallback-scrubbed-xTKXmRSCwgYuhsVgPvYqf", "consolidationDebitAccount": "Aimee
        Greer", "consolidationCreditAccount": "Aimee Greer", "excludeFromConsolidation":
        true, "lastModifiedDateTime": "2026-02-04T03:43:02.557Z"}, {"@odata.etag":
        "-Fallback-scrubbed-WmSikPasMYnOsTMMJXWlQpDeyiEAfYLTMWYoinOvMpQZ", "id": "3c304ba8-ad0d-f111-8405-002248340352",
        "number": "-Fallback-scrubbed-emmajK", "displayName": "Alexander Tapia", "category":
        "-Fallback-scrubbed-tsZMWv", "subCategory": "-Fallback-scrubbed-tsZMWv", "blocked":
        true, "accountType": "-Fallback-scrubbed-RDQAiyM", "directPosting": true,
        "netChange": 6646, "[...]
