interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-VCPHHz", "scope": "-Fallback-scrubbed-zQzxUHSQmMuAbrmqHCYWwCTcpzxTuttIuNQGaGPgUWY",
        "expires_in": "3852", "ext_expires_in": "-Fallback-scrubbed-wKNK", "expires_on":
        "-Fallback-scrubbed-kWydWxponk", "not_before": "-Fallback-scrubbed-vXzZIvydTL",
        "resource": "-Fallback-scrubbed-tGkxZJDsxfsBHDTbvamEiacgILKBXAQmFqqKWXyL",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-IjrhmCpZSaeLtyoCcxdFSIvqHmtwAIpUSgOC",
        "applicationFamily": "-Fallback-scrubbed-nKoErzmmVZeiGTR", "type": "-Fallback-scrubbed-lThfcDi",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-QV", "webServiceUrl":
        "-Fallback-scrubbed-tGkxZJDsxfsBHDTbvamEiacgILKBXAQmFqqKWXyL", "webClientLoginUrl":
        "-Fallback-scrubbed-weHwBPTzIJYtgwmMCElqQRxMroJCElctMJhM"}, {"aadTenantId":
        "-Fallback-scrubbed-IjrhmCpZSaeLtyoCcxdFSIvqHmtwAIpUSgOC", "applicationFamily":
        "-Fallback-scrubbed-nKoErzmmVZeiGTR", "type": "-Fallback-scrubbed-LLAWKEdbnC",
        "name": "Production", "countryCode": "-Fallback-scrubbed-Iu", "webServiceUrl":
        "-Fallback-scrubbed-tGkxZJDsxfsBHDTbvamEiacgILKBXAQmFqqKWXyL", "webClientLoginUrl":
        "-Fallback-scrubbed-weHwBPTzIJYtgwmMCElqQRxMroJCElctMJhM"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 1c498460-7696-453d-9b2e-4f8e545db261
      ms-correlation-x:
      - 474cec4d-6afa-6e65-bcf2-29839d8d7073
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-QktwZySMNMjuBeKwoemhYzkQhUTUArSmvyqoDvmmZAJgKpjTJtjDCqeHWvIqEqzKYKizCKIYwSnncvSAzOOlJ",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-jxFizfLpJNatmRQJ", "timestamp": 3653, "name": "CRONUS
        USA, Inc.", "displayName": "David Bell", "businessProfileId": "David Bell",
        "systemCreatedAt": "-Fallback-scrubbed-hwYjkCvKUUjKmaDjZQFuOpzA", "systemCreatedBy":
        "-Fallback-scrubbed-KQXnnUiiuYMHBALwftKzbvkaujurZfEKRhgF", "systemModifiedAt":
        "-Fallback-scrubbed-hwYjkCvKUUjKmaDjZQFuOpzA", "systemModifiedBy": "-Fallback-scrubbed-KQXnnUiiuYMHBALwftKzbvkaujurZfEKRhgF"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 60925b19-a53c-4658-9e61-d212187e26cc
      ms-correlation-x:
      - 07564613-ab26-03db-c593-e0f099560bfb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-ymRaXvZMuvJSOzLNTrazijlqHRYrhNJPzthtuVnEBXiPkBiXvPVwbwmFNOVTaXfnakRExPNegrHjNHusaPqnGFJfWhgZrgRXddNgXkQryuSpYmurKAxIZbsiftPOqfUZXxKUEeAhykUigX",
        "value": [{"@odata.etag": "-Fallback-scrubbed-kaipLMSgTZkrpZgrZcANBwLLvfJnOqrCtvrfNbRlbXHO",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Kristi Jones",
        "addressLine1": "62295 Amanda Manors Suite 009", "addressLine2": "4874 James
        Overpass", "city": "South Ashley", "state": "-Fallback-scrubbed-JZ", "country":
        "-Fallback-scrubbed-Iu", "postalCode": "47266", "phoneNumber": "001-846-960-2744x109",
        "faxNumber": "-Fallback-scrubbed-MogxpGePRWGfYio", "email": "David Bell",
        "website": "David Bell", "taxRegistrationNumber": "David Bell", "currencyCode":
        "-Fallback-scrubbed-pDY", "currentFiscalYearStartDate": "-Fallback-scrubbed-NnBKmCrkPI",
        "industry": "David Bell", "experience": "-Fallback-scrubbed-nFFNoWtdA", "lastModifiedDateTime":
        "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink": "-Fallback-scrubbed-eWWfXmgsazAFnFZOmzMkRNEEiWMGLRWbcIivSGsouergmLmFMBuyDIsLIryODzVpzCaRdMgZnOXDUfYmcaiQDkgGLTQqdhZOuwTyznbdAAxrigTLeiyvfcBcEunBWsGytjgIwijiIfreCpaBHHYXkCcWihHXwLPdwPWDCcXKZNbWJxxqjX"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 5399b8b8-fa49-4dd9-bf8c-f80d6ede2592
      ms-correlation-x:
      - 9198692f-c765-ae46-6118-3cb2fc6a5139
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=1000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/salesInvoices?%24filter=lastModifiedDateTime+gt+2026-02-18T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-tbCkBxIYyOtDJATyQKRHLqcetIlHqVkDTuyMgjnXkbhmwGkddfYeBcSFOcJDclwiZSBbEZOrIHrPdBoCGtPKOvvSFqJImeBnNxtXXrGnIOsdHVqkOdaOcfjQdFVZDCCBdUjxowkYd",
        "value": [{"@odata.etag": "-Fallback-scrubbed-vErghVDcLykBJNSUVyiOkpRueIOMTxxNHKxjAaLpsibh",
        "id": "8c4931b7-7b01-f111-a1fd-7ced8d2674f8", "number": "-Fallback-scrubbed-bMaGjyUANrdz",
        "externalDocumentNumber": "David Bell", "invoiceDate": "-Fallback-scrubbed-yOXnHgDrRb",
        "postingDate": "-Fallback-scrubbed-yOXnHgDrRb", "dueDate": "-Fallback-scrubbed-cdxJwTpsCC",
        "promisedPayDate": "-Fallback-scrubbed-HDTmKxUwOd", "customerPurchaseOrderReference":
        "-Fallback-scrubbed-VAFKMwcwq", "customerId": "-Fallback-scrubbed-hQutsZfJWyJhOKBKbFkRDrFyfVLZYpZbkftq",
        "customerNumber": "-Fallback-scrubbed-Yrdnz", "customerName": "-Fallback-scrubbed-MwsLqILTKZqjD",
        "billToName": "-Fallback-scrubbed-MwsLqILTKZqjD", "billToCustomerId": "-Fallback-scrubbed-hQutsZfJWyJhOKBKbFkRDrFyfVLZYpZbkftq",
        "billToCustomerNumber": "-Fallback-scrubbed-Yrdnz", "shipToName": "-Fallback-scrubbed-MwsLqILTKZqjD",
        "shipToContact": "-Fallback-scrubbed-hCkgRreuw", "sellToAddressLine1": "6343
        Kelsey Spur Suite 738", "sellToAddressLine2": "David Bell", "sellToCity":
        "East Davidhaven", "sellToCountry": "-Fallback-scrubbed-Iu", "sellToState":
        "South Carolina", "sellToPostCode": "52722", "billToAddressLine1": "6343 Kelsey
        Spur Suite 738", "billToAddressLine2": "David Bell", "billToCity": "East Davidhaven",
        "billToCountry": "-Fallback-scrubbed-Iu", "billToState": "South Carolina",
        "billToPostCode": "52722", "shipToAddressLine1": "6343 Kelsey Spur Suite 738",
        "shipToAddressLine2": "David Bell", "shipToCity": "East Davidhaven", "shipToCountry":
        "-Fallback-scrubbed-Iu", "shipToState": "South Carolina", "shipToPostCode":
        "52722", "currencyId": "-Fallback-scrubbed-BUBGvLNHGRInWBpUOqEYPGyiVuaIWLfvIdal",
        "shortcutDimension1Code": "-Fallback-scrubbed-puwHZ", "shortcutDimension2Code":
        "-Fallback-scrubbed-aFRrya", "currencyCode": "-Fallback-scrubbed-pDY", "orderId":
        "-Fallback-scrubbed-BUBGvLNHGRInWBpUOqEYPGyiVuaIWLfvIdal", "orderNumber":
        "David Bell", "paymentTermsId": "-Fallback-scrubbed-fiZfAZFEOSUXYLvJVHtCmwufkfGoOcNyFhKl",
        "shipmentMethodId": "-Fallback-scrubbed-BUBGvLNHGRInWBpUOqEYPGyiVuaIWLfvIdal",
        "salesperson": "-Fallback-scrubbed-Pb", "disputeStatusId": "-Fallback-scrubbed-BUBGvLNHGRInWBpUOqEYPGyiVuaIWLfvIdal",
        "disputeStatus": "David Bell", "pricesIncludeTax": true, "remainingAmount":
        3353, "discountAmount": 3353, "discountAppliedBeforeTax": true, "totalAmountExcludingTax":
        -251290.855232911, "totalTaxAmount": 67555563.8812487, "totalAmountIncludingTax":
        22146.8865690151, "status": "-Fallback-scrubbed-wTht", "lastModifiedDateTime":
        "2026-02-18T21:07:11.677Z", "phoneNumber": "David Bell", "email": "troy30@example.com",
        "dimensionSetLines": [{"@odata.etag": "-Fallback-scrubbed-RVprKkPhrjtlkuxriEtFaQXxWSijVHChvcMgcDEFjgrn",
        "id": "aff44a99-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-QWWYipkbziy",
        "consolidationCode": "David Bell", "parentId": "-Fallback-scrubbed-HpJwPQxVrZyoLDfFDbenlffCPleIlPnDizSO",
        "parentType": "-Fallback-scrubbed-HhoiyHqsrKrzoxIGcze", "displayName": "Hailey
        Copeland", "valueId": "-Fallback-scrubbed-HIKRAMthgvUJZhQeSuszbJTYzUAHscMINOfW",
        "valueCode": "-Fallback-scrubbed-Pb", "valueConsolidationCode": "David Bell",
        "valueDisplayName": "-Fallback-scrubbed-IbythgcHC"}, {"@odata.etag": "-Fallback-scrubbed-rwVhZzHlTknhnNhEboIZQqZWNYqtcooMcIgNZpqUhiFq",
        "id": "0a91419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-gfiK",
        "consolidationCode": "David Bell", "parentId": "-Fallback-scrubbed-HpJwPQxVrZyoLDfFDbenlffCPleIlPnDizSO",
        "parentType": "-Fallback-scrubbed-HhoiyHqsrKrzoxIGcze", "displayName": "Brian
        Thompson", "valueId": "-Fallback-scrubbed-qIzvaWLtwocWwosFOSpBEfieJHjdGfVgtxeM",
     [...]
