interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-dSoMeB", "scope": "-Fallback-scrubbed-JvwJJyHXdstCRShdyXphxrRVMlprGgJJwfasTFNzSCX",
        "expires_in": "5316", "ext_expires_in": "-Fallback-scrubbed-BYjG", "expires_on":
        "-Fallback-scrubbed-OqghhxmnNo", "not_before": "-Fallback-scrubbed-HlptJJpbIR",
        "resource": "-Fallback-scrubbed-gtXZHPpGMSByWHyEvwpGXBuRSUbjBYeZckNohtYo",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-ztSuKUGffJyKfqzWJJaaLSOTlueCoHkbhdNf",
        "applicationFamily": "-Fallback-scrubbed-yqOATcSyDjdUaNH", "type": "-Fallback-scrubbed-LlBkbMj",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-VY", "webServiceUrl":
        "-Fallback-scrubbed-gtXZHPpGMSByWHyEvwpGXBuRSUbjBYeZckNohtYo", "webClientLoginUrl":
        "-Fallback-scrubbed-gjVgKnKOJkcXLiyCnVIkAiSLGmVeHYmISXPB"}, {"aadTenantId":
        "-Fallback-scrubbed-ztSuKUGffJyKfqzWJJaaLSOTlueCoHkbhdNf", "applicationFamily":
        "-Fallback-scrubbed-yqOATcSyDjdUaNH", "type": "-Fallback-scrubbed-iEOCNAMcIS",
        "name": "Production", "countryCode": "-Fallback-scrubbed-Gb", "webServiceUrl":
        "-Fallback-scrubbed-gtXZHPpGMSByWHyEvwpGXBuRSUbjBYeZckNohtYo", "webClientLoginUrl":
        "-Fallback-scrubbed-gjVgKnKOJkcXLiyCnVIkAiSLGmVeHYmISXPB"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - ada6435a-314b-4c03-9606-3789cc022f87
      ms-correlation-x:
      - 9b391e45-c1f3-0be7-da8a-35b85b4ca579
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-UREUTqbiuIIkvwlOaPuxgTeDbOoQAuzIxqcRdFzaprADwqpsqNvTYuyofWeehQnumlBvkiqutgIRHYFVkiqND",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-uoTqPKmnWYgLETJH", "timestamp": 2113, "name": "CRONUS
        USA, Inc.", "displayName": "Michael Davis", "businessProfileId": "Michael
        Davis", "systemCreatedAt": "-Fallback-scrubbed-DlNaRufjAAxABfYufANedBJa",
        "systemCreatedBy": "-Fallback-scrubbed-EMTFGltrjGgBZLXlUrdUxKwdJerDbQQsCEIc",
        "systemModifiedAt": "-Fallback-scrubbed-DlNaRufjAAxABfYufANedBJa", "systemModifiedBy":
        "-Fallback-scrubbed-EMTFGltrjGgBZLXlUrdUxKwdJerDbQQsCEIc"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - dda1a517-4103-4fc8-b34f-5167d7b8065c
      ms-correlation-x:
      - c10571ad-f9e4-4b57-bfff-b9a651c61eb1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-CnVUntvOddZfZUyVygzUCBDoElqlnkPNayncwotoqsRCKdtSXXjStGcAiSoEFvUJVapGSsokcVnBGKBZwxDXqSLKVQHkJBVjCCSueogFXiLzkpTRJvlKZJFvCfcvLnTBzCgJMPwwPNOocF",
        "value": [{"@odata.etag": "-Fallback-scrubbed-sUnQkxxUksPlOLVPjaAEBVmMSvtiDadokaHfZlUwFmDV",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Joshua Bennett",
        "addressLine1": "03365 Michael Tunnel", "addressLine2": "78532 James Views
        Apt. 748", "city": "South Maryton", "state": "-Fallback-scrubbed-Ts", "country":
        "-Fallback-scrubbed-Gb", "postalCode": "94025", "phoneNumber": "+1-720-576-2295x4656",
        "faxNumber": "-Fallback-scrubbed-xdIVogdUAeiOMCB", "email": "Michael Davis",
        "website": "Michael Davis", "taxRegistrationNumber": "Michael Davis", "currencyCode":
        "-Fallback-scrubbed-pvX", "currentFiscalYearStartDate": "-Fallback-scrubbed-ntEcwJcWaK",
        "industry": "Michael Davis", "experience": "-Fallback-scrubbed-XmLMVeDdc",
        "lastModifiedDateTime": "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink":
        "-Fallback-scrubbed-YrvmlUeYfZzXKIBLbVdBydUcykjgNDoeKFyoMDigDpbrSayQLAoGcAHmWbhmQWZsRvSocTEpGjoKZaueVJcwFxNhkCbGitnATJQUvBEbafHfjrhwXZpuvVfCgqtZFWmmzUuPjYprqkSqBnZQYXheXyeQcDJTLfjPXNkQQDHeiuOvMjzTTW"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - cd88b620-6506-43b8-9386-8c23cd80b0a7
      ms-correlation-x:
      - 606e9f5d-429f-044b-d108-543ff7d8c627
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=1000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/salesInvoices?%24filter=lastModifiedDateTime+gt+2026-02-18T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-upXrmTfaAVlTPsFcUjGaIrfRQTNJcyVqwpPyECjCfuMLtqOjXlQwawzCicDIqLOKUgxnLwqrCjBCbjHHyRqSqqNoYSLnQdnyvSkFncJMUbxYIkLKkhpkUxNuliXhlPFDtoeQhyejB",
        "value": [{"@odata.etag": "-Fallback-scrubbed-OJziXujYdzudfjSFyzOaWCyNkbMbGttuRDmVYOTylSZn",
        "id": "8c4931b7-7b01-f111-a1fd-7ced8d2674f8", "number": "-Fallback-scrubbed-pmQLeuXpjubs",
        "externalDocumentNumber": "Michael Davis", "invoiceDate": "-Fallback-scrubbed-fUOLeIXCxh",
        "postingDate": "-Fallback-scrubbed-fUOLeIXCxh", "dueDate": "-Fallback-scrubbed-jMlkUogUom",
        "promisedPayDate": "-Fallback-scrubbed-oRqkVMvarx", "customerPurchaseOrderReference":
        "-Fallback-scrubbed-GKLXbTjEX", "customerId": "-Fallback-scrubbed-XuPFAcBNFdGSUpQiRlvuFNvKTRipohAVjnjT",
        "customerNumber": "-Fallback-scrubbed-euhXF", "customerName": "-Fallback-scrubbed-EPGTpWQwEWekV",
        "billToName": "-Fallback-scrubbed-EPGTpWQwEWekV", "billToCustomerId": "-Fallback-scrubbed-XuPFAcBNFdGSUpQiRlvuFNvKTRipohAVjnjT",
        "billToCustomerNumber": "-Fallback-scrubbed-euhXF", "shipToName": "-Fallback-scrubbed-EPGTpWQwEWekV",
        "shipToContact": "-Fallback-scrubbed-AndfoCszG", "sellToAddressLine1": "2996
        Campbell Road", "sellToAddressLine2": "Michael Davis", "sellToCity": "Lake
        Juanton", "sellToCountry": "-Fallback-scrubbed-Gb", "sellToState": "Ohio",
        "sellToPostCode": "52509", "billToAddressLine1": "2996 Campbell Road", "billToAddressLine2":
        "Michael Davis", "billToCity": "Lake Juanton", "billToCountry": "-Fallback-scrubbed-Gb",
        "billToState": "Ohio", "billToPostCode": "52509", "shipToAddressLine1": "2996
        Campbell Road", "shipToAddressLine2": "Michael Davis", "shipToCity": "Lake
        Juanton", "shipToCountry": "-Fallback-scrubbed-Gb", "shipToState": "Ohio",
        "shipToPostCode": "52509", "currencyId": "-Fallback-scrubbed-KgVigVixGuoyausSKiTatJicnMqiDDgvrqpV",
        "shortcutDimension1Code": "-Fallback-scrubbed-VCWIX", "shortcutDimension2Code":
        "-Fallback-scrubbed-XSdxvO", "currencyCode": "-Fallback-scrubbed-pvX", "orderId":
        "-Fallback-scrubbed-KgVigVixGuoyausSKiTatJicnMqiDDgvrqpV", "orderNumber":
        "Michael Davis", "paymentTermsId": "-Fallback-scrubbed-xMwTSeeSCKHxgBeCYKnAFaDqIjRFYfJLXuMU",
        "shipmentMethodId": "-Fallback-scrubbed-KgVigVixGuoyausSKiTatJicnMqiDDgvrqpV",
        "salesperson": "-Fallback-scrubbed-OM", "disputeStatusId": "-Fallback-scrubbed-KgVigVixGuoyausSKiTatJicnMqiDDgvrqpV",
        "disputeStatus": "Michael Davis", "pricesIncludeTax": false, "remainingAmount":
        2881, "discountAmount": 2881, "discountAppliedBeforeTax": true, "totalAmountExcludingTax":
        -4181.949195849, "totalTaxAmount": -823459815937.968, "totalAmountIncludingTax":
        66913.7084444939, "status": "-Fallback-scrubbed-ejRd", "lastModifiedDateTime":
        "2026-02-18T21:07:11.677Z", "phoneNumber": "Michael Davis", "email": "wesleyharris@example.org",
        "dimensionSetLines": [{"@odata.etag": "-Fallback-scrubbed-oxSotyQGjrAmjtrdmEIAxdUAOmvfPmyyzdYmMGVieTAf",
        "id": "aff44a99-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-mWvzkvuawSd",
        "consolidationCode": "Michael Davis", "parentId": "-Fallback-scrubbed-RZFadjYhQQXoLNXeEZmabTUvVOcOIOfCrIjM",
        "parentType": "-Fallback-scrubbed-syyQaBqHOmHtFyoPOTX", "displayName": "Christopher
        Wilkinson", "valueId": "-Fallback-scrubbed-kgvoXdOGiacdhgaIPjWxoePpCiDHxEjQbooD",
        "valueCode": "-Fallback-scrubbed-OM", "valueConsolidationCode": "Michael Davis",
        "valueDisplayName": "-Fallback-scrubbed-wziTdgrGf"}, {"@odata.etag": "-Fallback-scrubbed-awfkuLpQQgnuYfWjprpBZpmUqvtiGpQRGlxkDPXTxwVI",
        "id": "0a91419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-xHGH",
        "consolidationCode": "Michael Davis", "parentId": "-Fallback-scrubbed-RZFadjYhQQXoLNXeEZmabTUvVOcOIOfCrIjM",
        "parentType": "-Fallback-scrubbed-syyQaBqHOmHtFyoPOTX", "displayName": "Samuel
        Boone", "valueId": "-Fallback-scrubbed-aKZuNHfEnXQRzsEcKBkGdiBPMEJxwzrPoUJe",
    [...]
