interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-FkmWWA", "scope": "-Fallback-scrubbed-eWiMTdFQQpPTZUJBZedzjNOopnGeWJosxagWaoNrnKF",
        "expires_in": "4012", "ext_expires_in": "-Fallback-scrubbed-UFOI", "expires_on":
        "-Fallback-scrubbed-ESowHGqARf", "not_before": "-Fallback-scrubbed-qFQYEciJOX",
        "resource": "-Fallback-scrubbed-CAQgyaEUhonLMviBEnPhMeCBvsKJcibaAHFvIEfD",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-uZqXEPxcGTiMfqNfuJNySzIsufngispjaFkG",
        "applicationFamily": "-Fallback-scrubbed-QkdmrYSvwclGTLw", "type": "-Fallback-scrubbed-cOJxQBt",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-Wh", "webServiceUrl":
        "-Fallback-scrubbed-CAQgyaEUhonLMviBEnPhMeCBvsKJcibaAHFvIEfD", "webClientLoginUrl":
        "-Fallback-scrubbed-ibBCkJAcvbBtUTbpjQjNuyLPsNCsrWCyXpJd"}, {"aadTenantId":
        "-Fallback-scrubbed-uZqXEPxcGTiMfqNfuJNySzIsufngispjaFkG", "applicationFamily":
        "-Fallback-scrubbed-QkdmrYSvwclGTLw", "type": "-Fallback-scrubbed-VssWSQwNGp",
        "name": "Production", "countryCode": "-Fallback-scrubbed-LE", "webServiceUrl":
        "-Fallback-scrubbed-CAQgyaEUhonLMviBEnPhMeCBvsKJcibaAHFvIEfD", "webClientLoginUrl":
        "-Fallback-scrubbed-ibBCkJAcvbBtUTbpjQjNuyLPsNCsrWCyXpJd"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - af4b88f3-4749-4460-9ffd-2411a4b8b35b
      ms-correlation-x:
      - 4c32b7b9-9c03-297a-5764-44aeac74d137
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-NCKALOXZAwAyvCgVWhlcQCKuWwuyKAQKtSBkBwlRcLVNTlARxHGUYUJwfwBkGKPzRRNCSvUSVAWBFkXehbuAl",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-RDgSnFZkSjVxWdkr", "timestamp": 7296, "name": "CRONUS
        USA, Inc.", "displayName": "Jeffrey Lewis", "businessProfileId": "Jeffrey
        Lewis", "systemCreatedAt": "-Fallback-scrubbed-BVXZbfaJWMcQIhyTKPVuFSew",
        "systemCreatedBy": "-Fallback-scrubbed-AdkpEkDWMGhUmYwzxtEOyTYIOaDaEywgCadD",
        "systemModifiedAt": "-Fallback-scrubbed-BVXZbfaJWMcQIhyTKPVuFSew", "systemModifiedBy":
        "-Fallback-scrubbed-AdkpEkDWMGhUmYwzxtEOyTYIOaDaEywgCadD"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 37172187-09de-471f-9909-f1e09e2cdb59
      ms-correlation-x:
      - 6acf2aab-4055-c6e2-4caf-0d24c0cb74fc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-zNfxNEbcNIpjpxCDfJorfbEaUoVkzzlRavxtZgpcoePRymGCGDMOcJDxNTTOtPllXMpGmnMMlGauzYgExoxWzJwkxAdmVSuSnciiwqkLrjWyRgLClhNtTQpwALQOhhWzLIoPcKrqJTLpxJ",
        "value": [{"@odata.etag": "-Fallback-scrubbed-uMJNxyUroZLlqBDguYEDmjDmngRlnOqtkEEQpUYWTdXA",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "David Walker",
        "addressLine1": "65156 Kenneth Road Suite 499", "addressLine2": "90601 Timothy
        Spring Suite 844", "city": "New Brianview", "state": "-Fallback-scrubbed-Yf",
        "country": "-Fallback-scrubbed-LE", "postalCode": "59556", "phoneNumber":
        "(587)606-9790x6919", "faxNumber": "-Fallback-scrubbed-XFEPAQrLoXnUbNC", "email":
        "Jeffrey Lewis", "website": "Jeffrey Lewis", "taxRegistrationNumber": "Jeffrey
        Lewis", "currencyCode": "-Fallback-scrubbed-gcY", "currentFiscalYearStartDate":
        "-Fallback-scrubbed-ueykknHabg", "industry": "Jeffrey Lewis", "experience":
        "-Fallback-scrubbed-hpjRjoozt", "lastModifiedDateTime": "2026-02-04T03:43:12.517Z",
        "picture@odata.mediaReadLink": "-Fallback-scrubbed-EFWTrYbyvzqTlvRaPPhafyrXmczrtQlQXeCOdFGfJboxmGgbtvVhVQCptHXSCKvHPsjArigVcJDUBgkPgOVxcHTpcVduJIGwnxXKETpPNfNyUCxQNLNmpabkKxlPnVUiEfFgabNCRpMdGxwrPHoeIjDmqMyOSSpdRZTrnnJyqUcbZiatBj"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 1d730eed-dcf0-4c9b-890a-10ed7b8a2669
      ms-correlation-x:
      - a3f10d93-b050-e47c-a153-810ac28b6e82
    status:
      code: 200
      message: OK
[...]
