interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-qqxyNy", "scope": "-Fallback-scrubbed-OtWXyqqmAUDTnpzxuFxRNbDaphXxPLdAEvQiGKMzVew",
        "expires_in": "4043", "ext_expires_in": "-Fallback-scrubbed-EeIw", "expires_on":
        "-Fallback-scrubbed-GTwjAakJNp", "not_before": "-Fallback-scrubbed-InVtlqTxxc",
        "resource": "-Fallback-scrubbed-AmpwhoGKCPHIdoDJEKDbmdZYtaKkoxCVwtAyzTje",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-IpDJgcDRFRCpooAmGSbrFUODlQidXBgwWiHz",
        "applicationFamily": "-Fallback-scrubbed-cYUvvfPzdLhLihp", "type": "-Fallback-scrubbed-KRfVQcF",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-UE", "webServiceUrl":
        "-Fallback-scrubbed-AmpwhoGKCPHIdoDJEKDbmdZYtaKkoxCVwtAyzTje", "webClientLoginUrl":
        "-Fallback-scrubbed-CDVPtvePPYvuXpoZbSaNRANkjjmAJslXLwpN"}, {"aadTenantId":
        "-Fallback-scrubbed-IpDJgcDRFRCpooAmGSbrFUODlQidXBgwWiHz", "applicationFamily":
        "-Fallback-scrubbed-cYUvvfPzdLhLihp", "type": "-Fallback-scrubbed-mllgLnVMZl",
        "name": "Production", "countryCode": "-Fallback-scrubbed-bP", "webServiceUrl":
        "-Fallback-scrubbed-AmpwhoGKCPHIdoDJEKDbmdZYtaKkoxCVwtAyzTje", "webClientLoginUrl":
        "-Fallback-scrubbed-CDVPtvePPYvuXpoZbSaNRANkjjmAJslXLwpN"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - ad6238fd-78f6-4793-aca0-d4e5e2ba28cd
      ms-correlation-x:
      - 8e77a52b-2cb0-2107-9876-78c694fa02a4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-vKwFOvTkjpWivZreantVxWilmPWHHsJzIEIGPBVRYueVqMSrdKGTToCRHJXYbRrpQAykPTHnaqZfLLLGXYAwn",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-okgIdVwcMJRAHusS", "timestamp": 7101, "name": "CRONUS
        USA, Inc.", "displayName": "Monique Garcia", "businessProfileId": "Monique
        Garcia", "systemCreatedAt": "-Fallback-scrubbed-fdnZBxcFmODexBQrRfIQMLFJ",
        "systemCreatedBy": "-Fallback-scrubbed-PvoNNXMfcLdsPkQuzltOtLVJBmDaxauiBvke",
        "systemModifiedAt": "-Fallback-scrubbed-fdnZBxcFmODexBQrRfIQMLFJ", "systemModifiedBy":
        "-Fallback-scrubbed-PvoNNXMfcLdsPkQuzltOtLVJBmDaxauiBvke"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - fd419712-c7ed-421a-8e9f-25665b8068e5
      ms-correlation-x:
      - 0856de4e-1e51-76c1-1d5a-989a47718527
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-tLoLGoesMmdJzpTcakaqNEJMYdSsXOWKNdQtFCWboxsBMryHXxXmMdQwAYhjOeRLoOkfnWnkbIsGfxQACgOFWFrjyrbaYJKSvNbhYaaqpjZnhvSQEDnlBgiwZkjkcgJfUJeHwyBhjnmeMk",
        "value": [{"@odata.etag": "-Fallback-scrubbed-FfHjOCGkaqTWFdnLlxSqziIgSjosEVdkZAENdkZbUWBB",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Derrick Anderson",
        "addressLine1": "06456 Schultz Island", "addressLine2": "7306 Casey Mills",
        "city": "Romeroberg", "state": "-Fallback-scrubbed-Hh", "country": "-Fallback-scrubbed-bP",
        "postalCode": "45361", "phoneNumber": "9917193859", "faxNumber": "-Fallback-scrubbed-zqyoxlXqDNOVgga",
        "email": "Monique Garcia", "website": "Monique Garcia", "taxRegistrationNumber":
        "Monique Garcia", "currencyCode": "-Fallback-scrubbed-Gyu", "currentFiscalYearStartDate":
        "-Fallback-scrubbed-oCHVptlkWo", "industry": "Monique Garcia", "experience":
        "-Fallback-scrubbed-LWLNVgaEl", "lastModifiedDateTime": "2026-02-04T03:43:12.517Z",
        "picture@odata.mediaReadLink": "-Fallback-scrubbed-WlyGSIIJYUoWVLSwWxbUoVFlmsfiVIQvsPqYiijZPLEpDThiXsTTgiTzqwHWyKZllPlDZxvVgpRnykCgxgdFiRWgXNyfFluMqLKqOxumTBkGNuHuFWcpOnZMjSSbPCxctdqpdHVQXFHaqZyyzTeefeQyjDoImwHXyZlfSfayuzTBiXVVlN"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - a8707bc1-4c1e-457a-b5fe-b80704021a4a
      ms-correlation-x:
      - cc1e949f-8e7f-36fc-1d62-a6856496a379
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=1000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices?%24filter=lastModifiedDateTime+gt+2026-03-31T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-VFPKXjpFMOdqDuESxXhJWjJZDHdGsHLDoFBpgiRXXeijuGjQbdMyOzbefvdbMgbPMGlpdVCUqRcyBhzHjwMTzaKJzIRlLlIiotZfdgJNLpKegFsEWvMlENynAlPBticuIIbFDnquzCwk",
        "value": [{"@odata.etag": "-Fallback-scrubbed-bpAQsYaFeJiBaTDRfPkVfqchYnXFVDtEneTSJOMEfylq",
        "id": "1773153c-6329-f111-8340-000d3a11d3d8", "number": "-Fallback-scrubbed-jiYkHT",
        "postingDate": "-Fallback-scrubbed-xbcDuCYXZT", "invoiceDate": "-Fallback-scrubbed-xbcDuCYXZT",
        "dueDate": "-Fallback-scrubbed-WxAgvbjQlt", "vendorInvoiceNumber": "-Fallback-scrubbed-dijtdQQRYGe",
        "vendorId": "-Fallback-scrubbed-AcQogQYUqvcUEmamxJmvShyyNmhLcaXjvIUO", "vendorNumber":
        "-Fallback-scrubbed-aKFPfXanEPbwOzB", "vendorName": "-Fallback-scrubbed-SJNNIBpleA",
        "payToName": "-Fallback-scrubbed-SJNNIBpleA", "payToContact": "Monique Garcia",
        "payToVendorId": "-Fallback-scrubbed-AcQogQYUqvcUEmamxJmvShyyNmhLcaXjvIUO",
        "payToVendorNumber": "-Fallback-scrubbed-aKFPfXanEPbwOzB", "shipToName": "Derrick
        Anderson", "shipToContact": "Monique Garcia", "buyFromAddressLine1": "-Fallback-scrubbed-rrwyjRkkPFhpyzNBrZnjEiCXUkhZiPl",
        "buyFromAddressLine2": "-Fallback-scrubbed-VAMrQ", "buyFromCity": "-Fallback-scrubbed-JPgAPVkH",
        "buyFromCountry": "-Fallback-scrubbed-bP", "buyFromState": "-Fallback-scrubbed-lI",
        "buyFromPostCode": "-Fallback-scrubbed-VRhmv", "shipToAddressLine1": "06456
        Schultz Island", "shipToAddressLine2": "7306 Casey Mills", "shipToCity": "Romeroberg",
        "shipToCountry": "-Fallback-scrubbed-bP", "shipToState": "Monique Garcia",
        "shipToPostCode": "45361", "payToAddressLine1": "-Fallback-scrubbed-rrwyjRkkPFhpyzNBrZnjEiCXUkhZiPl",
        "payToAddressLine2": "-Fallback-scrubbed-VAMrQ", "payToCity": "-Fallback-scrubbed-JPgAPVkH",
        "payToCountry": "-Fallback-scrubbed-bP", "payToState": "-Fallback-scrubbed-lI",
        "payToPostCode": "-Fallback-scrubbed-VRhmv", "shortcutDimension1Code": "-Fallback-scrubbed-CfShK",
        "shortcutDimension2Code": "Monique Garcia", "currencyId": "-Fallback-scrubbed-gqMGdVeRemKtlEdVWTiDjsICIKMUCZlQqBHS",
        "currencyCode": "-Fallback-scrubbed-jaI", "orderId": "-Fallback-scrubbed-qdzavqAashFLLLqqHxvzXlqriobjyTYAaqdp",
        "orderNumber": "Monique Garcia", "purchaser": "Monique Garcia", "pricesIncludeTax":
        true, "discountAmount": 7545, "discountAppliedBeforeTax": false, "totalAmountExcludingTax":
        -8576569805.82408, "totalTaxAmount": 7545, "totalAmountIncludingTax": -8576569805.82408,
        "status": "-Fallback-scrubbed-riQxw", "lastModifiedDateTime": "2026-04-10T18:19:54.863Z",
        "dimensionSetLines": [{"@odata.etag": "-Fallback-scrubbed-OacbmDfdGdmtVCLdjCYdHiLdtpfLHemsdQPapmyTUHie",
        "id": "860c5c21-0f29-f111-8340-000d3a11d3d8", "code": "-Fallback-scrubbed-XFtThQC",
        "consolidationCode": "Monique Garcia", "parentId": "-Fallback-scrubbed-ETRBBsfvmkErIInNGavzdGatSMkblFOhmsER",
        "parentType": "-Fallback-scrubbed-tjMyuLAnQPvfNfuYGNXYcn", "displayName":
        "Bill Elliott PhD", "valueId": "-Fallback-scrubbed-xhgaMgJFAeiypUHNkkTxtpNetrkeODIsCKHM",
        "valueCode": "-Fallback-scrubbed-tvnCXKYa", "valueConsolidationCode": "Monique
        Garcia", "valueDisplayName": "-Fallback-scrubbed-tvnCXKYa"}, {"@odata.etag":
        "-Fallback-scrubbed-jWKpCtuBZKJWwVOARLtnKyaFAjACRXgbpqOIVXFnsELQ", "id": "0a91419f-7b01-f111-a1fd-7ced8d2674f8",
        "code": "-Fallback-scrubbed-lZKK", "consolidationCode": "Monique Garcia",
        "parentId": "-Fallback-scrubbed-ETRBBsfvmkErIInNGavzdGatSMkblFOhmsER", "parentType":
        "-Fallback-scrubbed-tjMyuLAnQPvfNfuYGNXYcn", "displayName": "Amy Scott", "valueId":
        "-Fallback-scrubbed-iVzLfqpPwmxLYLfVcRPyDtNjRVKeNNVYXpUC", "valueCode": "-Fallback-scrubbed-GG",
        "valueConsolidationCode": "Monique Garcia", "valueDisplayName": "-Fallback-scrubbed-TxEjrA"},
        {"@odata.etag": "-Fallback-scrubbed-WhCRkEJsxCMpsZqwCfnmrxJUAzhMwijxfUtgOqttHnfm",
        "id": "0d91419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-sTIdMvTYne",
        "consolidationCode": "Monique Garcia", "parentId": "-Fallback-scrubbed-ETRBBsfvmkErIInNGavzdGatSMkblFOhmsER",
        "parentType": "-Fallback-scrubbed-tjMyuLAnQPvfNfuYGNXYcn", "displayName":
        "Lindsey Bailey", "valueId": "-Fallback-scrubbed-QGsRTazZfGUXsOrWRhKKpSOhWylmookPGeqR",
        "valueCode": "-Fallback-scrubbed-CfShK", "valueConsolidationCode": "Monique
        Garcia", "valueDisplayName": "-Fallback-scrubbed-ZhZmE"}], "purchaseInvoiceLines":
        [{"@odata.etag": "-Fallback-scrubbed-sMwLhIvgPTLPoIzEjFUpNQxHUIwacidTUfKIupWwGNLt",
        "id": "2173153c-6329-f111-8340-000d3a11d3d8", "documentId": "-Fallback-scrubbed-ETRBBsfvmkErIInNGavzdGatSMkblFOhmsER",
        "sequence": 5934, "itemId": "-Fallback-scrubbed-qdzavqAashFLLLqqHxvzXlqriobjyTYAaqdp",
        "accountId": "-Fallback-scrubbed-gVLPsjSbuHqGKhfpxQxLthqRtJNXiIQtZLJh", "lineType":
        "-Fallback-scrubbed-VqOGckp", "lineObjectNumber": "-Fallback-scrubbed-PvYjG",
        "description": "-Fallback-scrubbed-ZvTObKZUdeOcZEFFuJnBGGwhLN", "description2":
        "Monique Garcia", "unitOfMeasureId": "-Fallback-scrubbed-qdzavqAashFLLLqqHxvzXlqriobjyTYAaqdp",
        "unitOfMeasureCode": "Monique Garcia", "unitCost": 4440598.4446186, "quantity":
        8435, "discountAmount": 7761, "discountPercent": -91020356.5812402, "discountAppliedBeforeTax":
        true, "amountExcludingTax": 7545, "taxCode": "-Fallback-scrubbed-bFMMzNpFS",
        "taxPercent": 7545, "totalTaxAmount": 7545, "amountIncludingTax": 7545, "invoiceDiscountAllocation":
        7545, "netAmount": 8063024.26915393, "netTaxAmount": 7545, "netAmountIncludingTax":
        8063024.26915393, "expectedReceiptDate": "-Fallback-scrubbed-xbcDuCYXZT",
        "itemVariantId": "-Fallback-scrubbed-qdzavqAashFLLLqqHxvzXlqriobjyTYAaqdp",
        "locationId": "-Fallback-scrubbed-RKpLGEQzgfMKOWOSbHZfzRTpQqugspTPnXYk", "dimensionSetLines":
        [{"@odata.etag": "-Fallback-scrubbed-hNqkANbGvWcxycLqdUtQpjObHPNyiKstfLuGUlzeNAST",
        "id": "860c5c21-0f29-f111-8340-000d3a11d3d8", "code": "-Fallback-scrubbed-XFtThQC",
        "consolidationCode": "Monique Garcia", "parentId": "-Fallback-scrubbed-vGPdtCGLTDbmBauSTUAGiiKSxySpkOzzRkXh",
        "parentType": "-Fallback-scrubbed-DFmMDJzUiSTeQNuJqvfrJYHXyXjjpXTVJ", "displayName":
        "Bill Elliott Ph[...]
