interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-agAbcT", "scope": "-Fallback-scrubbed-usZEjqbdimPiobqRNlljcRBBxOpUkhsJsdVHNhPGStY",
        "expires_in": "4623", "ext_expires_in": "-Fallback-scrubbed-Jcpa", "expires_on":
        "-Fallback-scrubbed-AgmUDWCxKX", "not_before": "-Fallback-scrubbed-nhgLUrdbqJ",
        "resource": "-Fallback-scrubbed-GjWhJtAdkgxTCQGBTSEEMeOmofaaPCbbiFvKwKOb",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-cGyGaAavymGWhvsFOpEnsrLiPjWYDxMGkTWk",
        "applicationFamily": "-Fallback-scrubbed-cGksogawjRpbyjI", "type": "-Fallback-scrubbed-aEDxtPR",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-WP", "webServiceUrl":
        "-Fallback-scrubbed-GjWhJtAdkgxTCQGBTSEEMeOmofaaPCbbiFvKwKOb", "webClientLoginUrl":
        "-Fallback-scrubbed-IrRrctWiprICZRnaEeIwogdmjvzMfjGbiRFW"}, {"aadTenantId":
        "-Fallback-scrubbed-cGyGaAavymGWhvsFOpEnsrLiPjWYDxMGkTWk", "applicationFamily":
        "-Fallback-scrubbed-cGksogawjRpbyjI", "type": "-Fallback-scrubbed-LNQKfnBtkJ",
        "name": "Production", "countryCode": "-Fallback-scrubbed-Ph", "webServiceUrl":
        "-Fallback-scrubbed-GjWhJtAdkgxTCQGBTSEEMeOmofaaPCbbiFvKwKOb", "webClientLoginUrl":
        "-Fallback-scrubbed-IrRrctWiprICZRnaEeIwogdmjvzMfjGbiRFW"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 6c1be23d-cb3e-42cd-a194-ebc7ae919748
      ms-correlation-x:
      - 7fe529c4-e891-fad6-5158-48cdd790facb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-xLuIGNVeaIuLTstqUcYMqYraKPOvVcwmIGPWTBKkVFprvwtrTlwDYPJpxMJoSchYWOBiZyBZQIuPJpLyXgIaq",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-xPgfZVdKcLeoiDbD", "timestamp": 7124, "name": "CRONUS
        USA, Inc.", "displayName": "David Thomas", "businessProfileId": "David Thomas",
        "systemCreatedAt": "-Fallback-scrubbed-ueTNZqwLcXDuuthZCnwIPeOd", "systemCreatedBy":
        "-Fallback-scrubbed-siJnjLqEUhvLBVHVnoepXEvIeJSgQLtvzJrV", "systemModifiedAt":
        "-Fallback-scrubbed-ueTNZqwLcXDuuthZCnwIPeOd", "systemModifiedBy": "-Fallback-scrubbed-siJnjLqEUhvLBVHVnoepXEvIeJSgQLtvzJrV"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 54c22569-87af-4852-8ea0-e821f124f97c
      ms-correlation-x:
      - 2aab36c4-2605-26b2-41db-ebedf3255dff
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-XVHdNKjguVqLeIqhVdTkONaAlnirnPuwuMBCsjfzXEvrleKpzvillgpzshUBeMoizrSQbLQjYlsqEZmATcpWYkCWZugOfgSYrRpoULPTNYZKqsdZMbThhmefzPtqakiHsVDttEUXXXxStV",
        "value": [{"@odata.etag": "-Fallback-scrubbed-CzcedkwREIFssDwBsRXlZtjmFTOAghQxRpUXBSHHHNLk",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Kenneth Johnson",
        "addressLine1": "254 Richardson Tunnel Apt. 297", "addressLine2": "83469 Marquez
        Trafficway", "city": "Chaneyview", "state": "-Fallback-scrubbed-ZF", "country":
        "-Fallback-scrubbed-Ph", "postalCode": "02702", "phoneNumber": "001-837-928-3383x708",
        "faxNumber": "-Fallback-scrubbed-hudWwKrxoTrnevb", "email": "David Thomas",
        "website": "David Thomas", "taxRegistrationNumber": "David Thomas", "currencyCode":
        "-Fallback-scrubbed-jlm", "currentFiscalYearStartDate": "-Fallback-scrubbed-YCjfoRjlTq",
        "industry": "David Thomas", "experience": "-Fallback-scrubbed-NXPoKGLvu",
        "lastModifiedDateTime": "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink":
        "-Fallback-scrubbed-FnCPAMYItqZUSHEcNvLiGUdzQLaZllGtiYsbcyTMHxprVCpLVhuZMIJZWDwSEJOUdAhgINGnkvNOjNIlUIAiqEVNvqttFqjhdvLHDOzyIwONfXkZjBWtVsImSUvpZzwYPBVOKSoZzTFQfiuPtJblfkIKzBVOkTaUvyitbBCDJmLTlsAWMC"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 3040d997-3f3d-4d24-ad96-632f20459464
      ms-correlation-x:
      - 66af38ba-040a-80dd-23ce-dccb65d84c40
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/accounts
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-KEQwuvnaaGivnkNYSiahvCsbxAGEunihFgrELJFLDtRDQjrvzTUuybDHrPXApvJWjzFTiQFpBmFhjScVRJxuVLduhTTLcIWPKGSvaqKwoHCeRuMMkSdGxDXKJUnNrqKnSYht",
        "value": [{"@odata.etag": "-Fallback-scrubbed-hViPneuRCBMhINrkRKUkTqkGBMKSuoaSmBfMzAbCQwTH",
        "id": "2ff14a99-7b01-f111-a1fd-7ced8d2674f8", "number": "-Fallback-scrubbed-KPJVd",
        "displayName": "Ronald Chambers", "category": "-Fallback-scrubbed-GecINW",
        "subCategory": "-Fallback-scrubbed-GecINW", "blocked": false, "accountType":
        "-Fallback-scrubbed-twXvwhq", "directPosting": false, "netChange": 2979, "consolidationTranslationMethod":
        "-Fallback-scrubbed-ocxhYZugugOnRZvodFXoN", "consolidationDebitAccount": "David
        Thomas", "consolidationCreditAccount": "David Thomas", "excludeFromConsolidation":
        false, "lastModifiedDateTime": "2026-02-04T03:43:02.557Z"}, {"@odata.etag":
        "-Fallback-scrubbed-GMbFkCKpwTVDQTnvlxIJXzpBdymVLcGxTfzxAhbBjOXh", "id": "3c304ba8-ad0d-f111-8405-002248340352",
        "number": "-Fallback-scrubbed-BoDwKt", "displayName": "Kristen Madden", "category":
        "-Fallback-scrubbed-FAhZqs", "subCategory": "-Fallback-scrubbed-FAhZqs", "blocked":
        false, "accountType": "-Fallback-scrubbed-FvazsCR", "directPosting": false,
        "netChange": 2979,[...]
