interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-lHuDnx", "scope": "-Fallback-scrubbed-YzcpqYrwAPTyvTZdIzSlcSoupEnFSFZgmqtArtgpfiC",
        "expires_in": "5209", "ext_expires_in": "-Fallback-scrubbed-lkLW", "expires_on":
        "-Fallback-scrubbed-jVpIcpMiFT", "not_before": "-Fallback-scrubbed-fSfDiGDdCz",
        "resource": "-Fallback-scrubbed-bqOOQzCPeOnMFZPuhJCoBCfiSkcPNvTLXOWkCkOM",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-nrjoQQrFnYlSNubyXgfpknLxYQjNgfKShTzo",
        "applicationFamily": "-Fallback-scrubbed-giFohVCzZNYUaOL", "type": "-Fallback-scrubbed-uSfmfxB",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-Db", "webServiceUrl":
        "-Fallback-scrubbed-bqOOQzCPeOnMFZPuhJCoBCfiSkcPNvTLXOWkCkOM", "webClientLoginUrl":
        "-Fallback-scrubbed-qrvLHLPfsjtXWfOGPPZUddYukshZJBavYKhS"}, {"aadTenantId":
        "-Fallback-scrubbed-nrjoQQrFnYlSNubyXgfpknLxYQjNgfKShTzo", "applicationFamily":
        "-Fallback-scrubbed-giFohVCzZNYUaOL", "type": "-Fallback-scrubbed-HZxOSXQflM",
        "name": "Production", "countryCode": "-Fallback-scrubbed-eg", "webServiceUrl":
        "-Fallback-scrubbed-bqOOQzCPeOnMFZPuhJCoBCfiSkcPNvTLXOWkCkOM", "webClientLoginUrl":
        "-Fallback-scrubbed-qrvLHLPfsjtXWfOGPPZUddYukshZJBavYKhS"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - ac1291de-4407-4337-bf9d-7f0c484e2f6b
      ms-correlation-x:
      - 4eed545b-3d26-45b9-832d-0be46e92834d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-fBvYUzbFhUdjEGyvjtidojwBMZbeQIsiBylwSQrNmiXLbVBCjpyWDdDsSoDxzryeQvbgONXhNbOpwHvIFfola",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-rugcaeTFNnrGbLvV", "timestamp": 4355, "name": "CRONUS
        USA, Inc.", "displayName": "Brian Schmidt", "businessProfileId": "Brian Schmidt",
        "systemCreatedAt": "-Fallback-scrubbed-kxufDPQbwrnmOrISiwEWXWFi", "systemCreatedBy":
        "-Fallback-scrubbed-QDnCJGTmfFqEZqSpMVblPmRpjjYdpGcQIqRA", "systemModifiedAt":
        "-Fallback-scrubbed-kxufDPQbwrnmOrISiwEWXWFi", "systemModifiedBy": "-Fallback-scrubbed-QDnCJGTmfFqEZqSpMVblPmRpjjYdpGcQIqRA"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - d2848387-5d45-4c6c-90a2-b81f0c12e5d7
      ms-correlation-x:
      - d4245399-d0f7-73db-8329-29822626f2d3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-pEBbflrkvawWRduKHsWGMTCfgaHMDVPtYlhhbeCePFsmKvOSVcMxTyQiAYopYLOQluafKMXdPkvkjKeIMvWXAYXgMZAhhUhOIArVVqzCRFCPKpaqbByVVSkBnCInlvMjCzjRmLiReWSPwV",
        "value": [{"@odata.etag": "-Fallback-scrubbed-EogkeZpAVNYgjDnHkwzjBXlNXNXwTNscOWqhlKilRFWZ",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Richard Jones",
        "addressLine1": "07330 Graves Lock", "addressLine2": "703 Fox Dam", "city":
        "Reedchester", "state": "-Fallback-scrubbed-vX", "country": "-Fallback-scrubbed-eg",
        "postalCode": "16869", "phoneNumber": "(509)931-7698x521", "faxNumber": "-Fallback-scrubbed-PWCBhvwfIqRgDGy",
        "email": "Brian Schmidt", "website": "Brian Schmidt", "taxRegistrationNumber":
        "Brian Schmidt", "currencyCode": "-Fallback-scrubbed-URh", "currentFiscalYearStartDate":
        "-Fallback-scrubbed-RFlajyxfkN", "industry": "Brian Schmidt", "experience":
        "-Fallback-scrubbed-ENoLjoaep", "lastModifiedDateTime": "2026-02-04T03:43:12.517Z",
        "picture@odata.mediaReadLink": "-Fallback-scrubbed-XTctWAZIABLGdMsDpaOvvzJeufizRVMeHsdKvBkXwszsstYqPquKnOjbHtMOnrsZwnmxPsvNcSGTswkWAeYZaHbxXevNSKIvTgvJfFvXtfNUbPGPJUADXKajnrpXhLIJdEsvoHVYejEyEpClBqZQxoilFfkZUyXMTkVIVWXYJTVDiNkpFz"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - beee7cea-2371-49d2-8bcc-a261cd2986a9
      ms-correlation-x:
      - 8c62275c-52e3-2099-aa96-c6e892e53e42
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/dimensions
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-NNeWKXpwXruzeWkZwrZucHQJtwAqWhQhNBRrXCMVHuLVQjUnmCkxCgkaXKKsvvCNvNIiaNXOacEYHrldNDVtPYMRdbiIbfklPRaCZzZjMRXtwcHmtEeQCyqeBKNRKjZRWPfdqO",
        "value": [{"@odata.etag": "-Fallback-scrubbed-QurjgmdkUOaNxBuEgSUQeDLFOBKicsVEhkEBvaXaXZFJ",
        "id": "0a91419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-HuCm",
        "displayName": "Heather Miller", "consolidationCode": "Brian Schmidt", "lastModifiedDateTime":
        "2026-02-04T03:43:10.617Z"}, {"@odata.etag": "-Fallback-scrubbed-pPaABdXMTQTLCWdqpcBJcLztRJPMAHbgiydqxeglZEGh",
        "id": "0b91419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-gmkLkztaXMIoG",
        "displayName": "Carol Herrera", "consolidationCode": "Brian Schmidt", "lastModifiedDateTime":
        "2026-02-04T03:43:10.62Z"}, {"@odata.etag": "-Fallback-scrubbed-tVyIkmbEUjaPxYyelbKvXoGkEPwgxPRZkGMBxiyumbpR",
        "id": "1107[...]
