interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-dNlHgq", "scope": "-Fallback-scrubbed-BZEDJbthQXESRLIDuBDVsFowADQqPCETpASDWbKqLEg",
        "expires_in": "4029", "ext_expires_in": "-Fallback-scrubbed-BHFA", "expires_on":
        "-Fallback-scrubbed-fqyERXmWYc", "not_before": "-Fallback-scrubbed-nJbiYHwxDw",
        "resource": "-Fallback-scrubbed-ZzbgVKxTPhDAdcZRpKnMteRAWGnqVjUaWnzDCqMV",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-rKWYkoYzAPBablXYAgaFuyArTWqoQaUaebIj",
        "applicationFamily": "-Fallback-scrubbed-TmSGESrDRBeySMs", "type": "-Fallback-scrubbed-NhurMLq",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-Vb", "webServiceUrl":
        "-Fallback-scrubbed-ZzbgVKxTPhDAdcZRpKnMteRAWGnqVjUaWnzDCqMV", "webClientLoginUrl":
        "-Fallback-scrubbed-kIYWFbTpLVgRwubaIzuanBaLNVssVjZNqQtC"}, {"aadTenantId":
        "-Fallback-scrubbed-rKWYkoYzAPBablXYAgaFuyArTWqoQaUaebIj", "applicationFamily":
        "-Fallback-scrubbed-TmSGESrDRBeySMs", "type": "-Fallback-scrubbed-dpvdcDFZjp",
        "name": "Production", "countryCode": "-Fallback-scrubbed-qb", "webServiceUrl":
        "-Fallback-scrubbed-ZzbgVKxTPhDAdcZRpKnMteRAWGnqVjUaWnzDCqMV", "webClientLoginUrl":
        "-Fallback-scrubbed-kIYWFbTpLVgRwubaIzuanBaLNVssVjZNqQtC"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 89fadad8-cb9d-4e25-84b3-098a821fcd2a
      ms-correlation-x:
      - d877d8d2-9246-d4e6-f6c2-06d5b22cec80
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-TchknsXIUnFKDqDJepIfpbbnoPEuxGdMJQrxRLgmgJsvgEjvTwkrFyKnRpFHPXcsNHFfJVVNKLNtRrkrwmnRN",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-hbwPdKfvCiizPbBm", "timestamp": 2854, "name": "CRONUS
        USA, Inc.", "displayName": "Rachel Edwards", "businessProfileId": "Rachel
        Edwards", "systemCreatedAt": "-Fallback-scrubbed-swOdeLajVghoPfODZoVYpdds",
        "systemCreatedBy": "-Fallback-scrubbed-MSCLRyQrLbRnyYCUzIaNyFqXQxcvhSagarQX",
        "systemModifiedAt": "-Fallback-scrubbed-swOdeLajVghoPfODZoVYpdds", "systemModifiedBy":
        "-Fallback-scrubbed-MSCLRyQrLbRnyYCUzIaNyFqXQxcvhSagarQX"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - 5d755b50-78a8-4a14-8572-7c9e83470065
      ms-correlation-x:
      - 78e57001-9d76-5d0b-1f46-cdaf4c3ae09a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-uJHIGxXwlMRScIBzrVVtRBlCRlrPXYefYJpoHaavxypqPkbKiuZJmAFORdyXpYEDSLfvWlcLRuYWMrKXpDQTDDvtXrszdJxQWDmHrGzJGMdsoQmKCNSyiEPFOqYigXxuTTlyXuPCfRiTJg",
        "value": [{"@odata.etag": "-Fallback-scrubbed-HPyEHLYOJxtAeSQkaNajYCzeQntQKjgdeddrEPMKZIoY",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Jacqueline Allen",
        "addressLine1": "49908 Robert Road", "addressLine2": "08797 Moore Track Apt.
        007", "city": "West Marthaside", "state": "-Fallback-scrubbed-fV", "country":
        "-Fallback-scrubbed-qb", "postalCode": "29115", "phoneNumber": "(552)603-0399",
        "faxNumber": "-Fallback-scrubbed-xBYvkMxnhiDgfZV", "email": "Rachel Edwards",
        "website": "Rachel Edwards", "taxRegistrationNumber": "Rachel Edwards", "currencyCode":
        "-Fallback-scrubbed-TDk", "currentFiscalYearStartDate": "-Fallback-scrubbed-cTdUhrAPHn",
        "industry": "Rachel Edwards", "experience": "-Fallback-scrubbed-qvpvmgzgW",
        "lastModifiedDateTime": "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink":
        "-Fallback-scrubbed-JUpEMIJcqBpfvmsyGiQAHOAPbjMTrQddIZPcivQpLXCHlVSeHNQFpsjstmRzwyWHfXtGEnniYSzfSrzLhtEelQEAUNekrHyQrubyGuGUyYJNtxSHDEoLDojHLVCYnOrwISjsUcXbBsmZymfCYaZzFjcidfcvVSUVbmmtNmVlvIMgjvPXnI"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - a8212700-06b4-48e1-8d65-12227f3c62c9
      ms-correlation-x:
      - 369f9922-5e38-c65a-c4f7-8e8f70301717
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/salesOrders?%24filter=lastModifiedDateTime+gt+2025-01-05T00%3A00%3A00Z&%24expand=salesOrderLines
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-cYWglsnYNOpEHuJgsMVlXKIBMoPxxWfdduqkaQVlmUmZCGAVtHRIfjQcjziEeHELQnISumGXzJYVNFbvzvIUNSJfFqfTEixArCNJNCyZlWslyPdsjqZsOjNnVKlKRAzljEaMHGm",
        "value": [{"@odata.etag": "-Fallback-scrubbed-cueKfuDyjrQHYoboCiWbBNMnNGJVZmwKpsKSXufdztMl",
        "id": "0b4a31b7-7b01-f111-a1fd-7ced8d2674f8", "number": "-Fallback-scrubbed-GkcelfSxhKt",
        "externalDocumentNumber": "Rachel Edwards", "orderDate": "-Fallback-scrubbed-PoavKNDcEA",
        "postingDate": "-Fallback-scrubbed-PoavKNDcEA", "customerId": "-Fallback-scrubbed-ZbbrfWkAUcMrfLlFjnTwPednxmepVjTwXxRK",
        "customerNumber": "-Fallback-scrubbed-ruCGe", "customerName": "-Fallback-scrubbed-JsEqSNCtUXkvIgkZZN",
        "billToName": "-Fallback-scrubbed-JsEqSNCtUXkvIgkZZN", "billToCustomerId":
        "-Fallback-scrubbed-ZbbrfWkAUcMrfLlFjnTwPednxmepVjTwXxRK", "billToCustomerNumber":
        "-Fallback-scrubbed-ruCGe", "shipToName": "-Fallback-scrubbed-JsEqSNCtUXkvIgkZZN",
        "shipToContact": "-Fallback-scrubbed-TscXBXVJIFlBW", "sellToAddressLine1":
        "721 Grimes Passage", "sellToAddressLine2": "Rachel Edwards", "sellToCity":
        "West Marthaside", "sellToCountry": "-Fallback-scrubbed-qb", "sellToState":
        "-Fallback-scrubbed-fV", "sellToPostCode": "29115", "billToAddressLine1":
        "721 Grimes Passage", "billToAddressLine2": "Rachel Edwards", "billToCity":
        "West Marthaside", "billToCountry": "-Fallback-scrubbed-qb", "billToState":
        "-Fallback-scrubbed-fV", "billToPostCode": "29115", "shipToAddressLine1":
        "721 Grimes Passage", "shipToAddressLine2": "Rachel Edwards", "shipToCity":
        "West Marthaside", "shipToCountry": "-Fallback-scrubbed-qb", "shipToState":
        "-Fallback-scrubbed-fV", "shipToPostCode": "29115", "shortcutDimension1Code":
        "-Fallback-scrubbed-Chjuh", "shortcutDimension2Code": "-Fallback-scrubbed-EKioh",
        "currencyId": "-Fallback-scrubbed-CSqTcTkLUYxwhDgXwGwOhYSCfOhRtdYfwPnC", "currencyCode":
        "-Fallback-scrubbed-TDk", "pricesIncludeTax": true, "paymentTermsId": "-Fallback-scrubbed-WXDSDVdzYwTwJCeRnbvpBDtsJkFafwcpVwXw",
        "shipmentMethodId": "-Fallback-scrubbed-CSqTcTkLUYxwhDgXwGwOhYSCfOhRtdYfwPnC",
        "salesperson": "-Fallback-scrubbed-Je", "partialShipping": false, "requestedDeliveryDate":
        "-Fallback-scrubbed-lLoeXotRnP", "discountAmount": 8003, "discountAppliedBeforeTax":
        false, "totalAmountExcludingTax": 378181.891374459, "totalTaxAmount": 109959482182.182,
        "totalAmountIncludingTax": 82476579047.6934, "fullyShipped": false, "status":
        "-Fallback-scrubbed-MRwao", "lastModifiedDateTime": "2026-02-24T22:53:12.55Z",
        "phoneNumber": "Rachel Edwards", "email": "angelarogers@example.com", "salesOrderLines":
        [{"@odata.etag": "-Fallback-scrubbed-JkmCAeELxLCJqVOiHTVSaFdIEyKttMeADuTnPksgwvnS",
        "id": "0d4a31b7-7b01-f111-a1fd-7ced8d2674f8", "documentId": "-Fallback-scrubbed-kcthFrRVZTBoorktvBCrGAGWDvIyXGuuEdCM",
        "sequence": 2782, "itemId": "-Fallback-scrubbed-HHvzWvyEAryMBgfXPIHiNgSTYtgvTRSCqZHv",
        "accountId": "-Fallback-scrubbed-CSqTcTkLUYxwhDgXwGwOhYSCfOhRtdYfwPnC", "lineType":
        "-Fallback-scrubbed-tpdF", "lineObjectNumber": "-Fallback-scrubbed-MInhVB",
        "description": "-Fallback-scrubbed-FqYqfGffxgYfKqqlqPiyxspy", "description2":
        "Rachel Edwards", "unitOfMeasureId": "-Fallback-scrubbed-ugMAXgMZuvXmMxJkHDKiETCbJOjaDjthprvP",
        "unitOfMeasureCode": "-Fallback-scrubbed-Lqp", "quantity": 9633, "unitPrice":
        203870.424096262, "discountAmount": 8003, "discountPercent": 8003, "discountAppliedBeforeTax":
        true, "amountExcludingTax": 378181.891374459, "taxCode": "-Fallback-scrubbed-ijpEbylYb",
        "taxPercent": -590545562037.645, "totalTaxAmount": 109959482182.182, "amountIncludingTax":
        82476579047.6934, "invoiceDiscountAllocation": 8003, "netAmount": 378181.891374459,
        "netTaxAmount": 109959482182.182, "netAmountIncludingTax": 82476579047.6934,
        "shipmentDate": "-Fallback-scrubbed-MIiuNGYiIc", "shippedQuantity": 8003,
        "invoicedQuantity": 8003, "invoiceQuantity": 9633, "shipQuantity": 9633, "itemVariantId":
        "-Fallback-scrubbed-CSqTcTkLUYxwhDgXwGwOhYSCfOhRtdYfwPnC", "locationId": "-Fallback-scrubbed-CSqTcTkLUYxwhDgXwGwOhYSCfOhRtdYfwPnC"}]},
        {"@odata.etag": "-Fallback-scrubbed-CwOvlAorpWFxCfMaOcymrEXkgwCSKhYzgAMySjUCGEkd",
        "id": "0e4a31b7-7b01-f111-a1fd-7ced8d2674f8", "number": "-Fallback-scrubbed-VfIOaifAloI",
        "externalDocumentNumber": "Rachel Edwards", "orderDate": "-Fallback-scrubbed-lFSbZcgZNg",
        "postingDate": "-Fallback-scrubbed-lFSbZcgZNg", "customerId": "-Fallback-scrubbed-ZbbrfWkAUcMrfLlFjnTwPednxmepVjTwXxRK",
        "customerNumb[...]
