interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-cTcZha", "scope": "-Fallback-scrubbed-LBCBjCifwwnxvSvQAOYOMiLLTEImnmEeYmxgcQGzlBD",
        "expires_in": "5347", "ext_expires_in": "-Fallback-scrubbed-jggm", "expires_on":
        "-Fallback-scrubbed-HLzPRQiEAH", "not_before": "-Fallback-scrubbed-GdOVzxjwjM",
        "resource": "-Fallback-scrubbed-LEzVFZBfICmsKzqaWnHPltWEzpoUVvjVMuwJcMQv",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-zBfzErgTWXKesWmdZvRZAWsmaPKpXtWbmAWw",
        "applicationFamily": "-Fallback-scrubbed-uWYMlDdIDLXvlhQ", "type": "-Fallback-scrubbed-ZneOrJC",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-Yu", "webServiceUrl":
        "-Fallback-scrubbed-LEzVFZBfICmsKzqaWnHPltWEzpoUVvjVMuwJcMQv", "webClientLoginUrl":
        "-Fallback-scrubbed-aBLhuvkwCKMkmBxVZGqPrMIPMWsjwMzBIOEX"}, {"aadTenantId":
        "-Fallback-scrubbed-zBfzErgTWXKesWmdZvRZAWsmaPKpXtWbmAWw", "applicationFamily":
        "-Fallback-scrubbed-uWYMlDdIDLXvlhQ", "type": "-Fallback-scrubbed-YJRfinahVn",
        "name": "Production", "countryCode": "-Fallback-scrubbed-PY", "webServiceUrl":
        "-Fallback-scrubbed-LEzVFZBfICmsKzqaWnHPltWEzpoUVvjVMuwJcMQv", "webClientLoginUrl":
        "-Fallback-scrubbed-aBLhuvkwCKMkmBxVZGqPrMIPMWsjwMzBIOEX"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - 85441f48-9330-4af2-a4cc-f6f14207f5aa
      ms-correlation-x:
      - e11bb99a-ba68-43df-f826-57f88294213a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-sYQTzjSNZpvBmZdbhTheUNAMmjuHSDTUdaGKKvBGNUDmQdBAftmYpoipMtevfGbNfUBXoxHsuuGaQUBxYdHJm",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-RIexYmskrgqWLvod", "timestamp": 1029, "name": "CRONUS
        USA, Inc.", "displayName": "Alexandra Thompson", "businessProfileId": "Alexandra
        Thompson", "systemCreatedAt": "-Fallback-scrubbed-jfUFaaxaqNCjEoQlaBUVeApN",
        "systemCreatedBy": "-Fallback-scrubbed-xXEGQlWTxZoryCpBeSSnTKPghPBCQDXzNbxP",
        "systemModifiedAt": "-Fallback-scrubbed-jfUFaaxaqNCjEoQlaBUVeApN", "systemModifiedBy":
        "-Fallback-scrubbed-xXEGQlWTxZoryCpBeSSnTKPghPBCQDXzNbxP"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - ee1954cb-fefe-4aff-be7e-7853480e0541
      ms-correlation-x:
      - 5897e2e8-d533-f39a-d3bf-99e2d3dd327c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-TsoJlFVSFnbTZNxyQWtnZLdqKNjEjfASLjBvXJfJgYCrInyynQbVxfNjNtbegaRjRRxqAHZUIuNIFYqUORWnLHylPWeilojuFikqlqxJbJaxhELAfllYQSZZbvxQLhrroZPOiRetaoioEZ",
        "value": [{"@odata.etag": "-Fallback-scrubbed-oLKgZgTMxVXfnwGCgggRKzFkYUIygqKWywIirZqvXlPd",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Denise Johnson",
        "addressLine1": "325 Mendez Center Suite 617", "addressLine2": "02230 Wells
        Islands Apt. 947", "city": "Olsenport", "state": "-Fallback-scrubbed-hz",
        "country": "-Fallback-scrubbed-PY", "postalCode": "22556", "phoneNumber":
        "420-837-0696x280", "faxNumber": "-Fallback-scrubbed-DiVldOAFhoffKam", "email":
        "Alexandra Thompson", "website": "Alexandra Thompson", "taxRegistrationNumber":
        "Alexandra Thompson", "currencyCode": "-Fallback-scrubbed-Aow", "currentFiscalYearStartDate":
        "-Fallback-scrubbed-xkIuXOxlLP", "industry": "Alexandra Thompson", "experience":
        "-Fallback-scrubbed-mBtvdhcQk", "lastModifiedDateTime": "2026-02-04T03:43:12.517Z",
        "picture@odata.mediaReadLink": "-Fallback-scrubbed-cybfwyCMqyfhSzHKsOnzfZBKHfIweLdFTjdDXCRRVWojPPqtbyCqaXWsIdNRutUXfFnKYkxpPzAYvyGNEAvIxOfdhGcvfbMbjuQBcrCnkCljNZwOtkvDEaElVHmVngbvEcYMwqINtlhcEYJogJidELCsawuBIqpuXiXlpcRmoXzMKUMluI"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - ca97d8e3-0d14-4cce-9668-ea100c9d56e2
      ms-correlation-x:
      - 0014109e-c42e-6a99-a249-fbe47d48e668
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=1000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices?%24filter=lastModifiedDateTime+gt+2026-03-31T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-rUdxtklCopmjWxjHcuwDgxroHepRlibAcEBJJxsuaPjmrhkJuaeODUMdSCKAQjDqkyXndInnyHOfEADXYjffoUTkYVjZqNmnwWLyXYRmwxGTpfbcigprfYFVGrKxkBRgXQZLTTMttOJB",
        "value": [{"@odata.etag": "-Fallback-scrubbed-cVRuhHRSTWpSPKSMnoaMVnPuCZiFpetdtkPbtSmvJeqk",
        "id": "1773153c-6329-f111-8340-000d3a11d3d8", "number": "-Fallback-scrubbed-CFLIPC",
        "postingDate": "-Fallback-scrubbed-YKSiSpiQqB", "invoiceDate": "-Fallback-scrubbed-YKSiSpiQqB",
        "dueDate": "-Fallback-scrubbed-MQwSAekSsz", "vendorInvoiceNumber": "-Fallback-scrubbed-EFGGnXhviPr",
        "vendorId": "-Fallback-scrubbed-WYLqjYGYPVOdKLbnjNMqmVDFLNOArBZYTTwu", "vendorNumber":
        "-Fallback-scrubbed-alXTiTftvMzmQMc", "vendorName": "-Fallback-scrubbed-HBuikaNpUI",
        "payToName": "-Fallback-scrubbed-HBuikaNpUI", "payToContact": "Alexandra Thompson",
        "payToVendorId": "-Fallback-scrubbed-WYLqjYGYPVOdKLbnjNMqmVDFLNOArBZYTTwu",
        "payToVendorNumber": "-Fallback-scrubbed-alXTiTftvMzmQMc", "shipToName": "Denise
        Johnson", "shipToContact": "Alexandra Thompson", "buyFromAddressLine1": "-Fallback-scrubbed-FBWpRtPytHvLfPUPjfUIFXQFGxqPSIk",
        "buyFromAddressLine2": "-Fallback-scrubbed-vQigf", "buyFromCity": "-Fallback-scrubbed-FDfSANDD",
        "buyFromCountry": "-Fallback-scrubbed-PY", "buyFromState": "-Fallback-scrubbed-wy",
        "buyFromPostCode": "-Fallback-scrubbed-erAmp", "shipToAddressLine1": "325
        Mendez Center Suite 617", "shipToAddressLine2": "02230 Wells Islands Apt.
        947", "shipToCity": "Olsenport", "shipToCountry": "-Fallback-scrubbed-PY",
        "shipToState": "Alexandra Thompson", "shipToPostCode": "22556", "payToAddressLine1":
        "-Fallback-scrubbed-FBWpRtPytHvLfPUPjfUIFXQFGxqPSIk", "payToAddressLine2":
        "-Fallback-scrubbed-vQigf", "payToCity": "-Fallback-scrubbed-FDfSANDD", "payToCountry":
        "-Fallback-scrubbed-PY", "payToState": "-Fallback-scrubbed-wy", "payToPostCode":
        "-Fallback-scrubbed-erAmp", "shortcutDimension1Code": "-Fallback-scrubbed-MQHjm",
        "shortcutDimension2Code": "Alexandra Thompson", "currencyId": "-Fallback-scrubbed-dVondqfNcPawZmtXHPUGuClLQrVdrkJsPOci",
        "currencyCode": "-Fallback-scrubbed-eSR", "orderId": "-Fallback-scrubbed-psVBrdULdswOFcpttYdMgnqzSNXVhCvNBFjm",
        "orderNumber": "Alexandra Thompson", "purchaser": "Alexandra Thompson", "pricesIncludeTax":
        true, "discountAmount": 1911, "discountAppliedBeforeTax": false, "totalAmountExcludingTax":
        -93917404943.5536, "totalTaxAmount": 1911, "totalAmountIncludingTax": -93917404943.5536,
        "status": "-Fallback-scrubbed-DCSgY", "lastModifiedDateTime": "2026-04-10T18:19:54.863Z",
        "dimensionSetLines": [{"@odata.etag": "-Fallback-scrubbed-detuTaxodGWGPauGiXUdVLgVzlBPKoGvJAHgEvQnuDSU",
        "id": "860c5c21-0f29-f111-8340-000d3a11d3d8", "code": "-Fallback-scrubbed-MjDOnwG",
        "consolidationCode": "Alexandra Thompson", "parentId": "-Fallback-scrubbed-EzvyYCUdSZnbWEubKfZElUDYUJdhhHvwNPhr",
        "parentType": "-Fallback-scrubbed-miGuxZvPXYpbZgfAsJniFP", "displayName":
        "Crystal Wilson", "valueId": "-Fallback-scrubbed-UIilwEuzIILqwUaLfROQfxPgvLdrcJlxttSF",
        "valueCode": "-Fallback-scrubbed-RVsjMClI", "valueConsolidationCode": "Alexandra
        Thompson", "valueDisplayName": "-Fallback-scrubbed-RVsjMClI"}, {"@odata.etag":
        "-Fallback-scrubbed-WiQggOBtOlpFFFFSigNXipdTuCeNAVRRppWlCESGgWIp", "id": "0a91419f-7b01-f111-a1fd-7ced8d2674f8",
        "code": "-Fallback-scrubbed-cMSr", "consolidationCode": "Alexandra Thompson",
        "parentId": "-Fallback-scrubbed-EzvyYCUdSZnbWEubKfZElUDYUJdhhHvwNPhr", "parentType":
        "-Fallback-scrubbed-miGuxZvPXYpbZgfAsJniFP", "displayName": "Victoria Rogers",
        "valueId": "-Fallback-scrubbed-VixuTVVFZXwByRgLnSRBsyepyeBWbKigNFFk", "valueCode":
        "-Fallback-scrubbed-fm", "valueConsolidationCode": "Alexandra Thompson", "valueDisplayName":
        "-Fallback-scrubbed-JQdQaI"}, {"@odata.etag": "-Fallback-scrubbed-szukKpuufuEBbxidwGAuvjOfbfrBSlMOtSPYObITHOdZ",
        "id": "0d91419f-7b01-f111-a1fd-7ced8d2674f8", "code": "-Fallback-scrubbed-OvXXKHjOEp",
        "consolidationCode": "Alexandra Thompson", "parentId": "-Fallback-scrubbed-EzvyYCUdSZnbWEubKfZElUDYUJdhhHvwNPhr",
        "parentType": "-Fallback-scrubbed-miGuxZvPXYpbZgfAsJniFP", "displayName":
        "Dillon Aguilar", "valueId": "-Fallback-scrubbed-sBbVIWBaUyZPMSwdwgycCidNrATwlFBjwHTR",
        "valueCode": "-Fallback-scrubbed-MQHjm", "valueConsolidationCode": "Alexandra
        Thompson", "valueDisplayName": "-Fallback-scrubbed-vAzik"}], "purchaseInvoiceLines":
        [{"@odata.etag": "-Fallback-scrubbed-LseEaKRcZHikyKqbIFVFMJeHqUkMJlGvBeEFqNDBlTCV",
        "id": "2173153c-6329-f111-8340-000d3a11d3d8", "documentId": "-Fallback-scrubbed-EzvyYCUdSZnbWEubKfZElUDYUJdhhHvwNPhr",
        "sequence": 7036, "itemId": "-Fallback-scrubbed-psVBrdULdswOFcpttYdMgnqzSNXVhCvNBFjm",
        "accountId": "-Fallback-scrubbed-uvlTqxBqfxqOVVpqSXeTkgutAzzXMnxOCFyB", "lineType":
        "-Fallback-scrubbed-surSxbs", "lineObjectNumber": "-Fallback-scrubbed-Aylha",
        "description": "-Fallback-scrubbed-YKBXuQZpkEuLRpNupgDcZFcLoI", "description2":
        "Alexandra Thompson", "unitOfMeasureId": "-Fallback-scrubbed-psVBrdULdswOFcpttYdMgnqzSNXVhCvNBFjm",
        "unitOfMeasureCode": "Alexandra Thompson", "unitCost": -906714011409.877,
        "quantity": 844, "discountAmount": 9947, "discountPercent": -80823848.7092,
        "discountAppliedBeforeTax": true, "amountExcludingTax": 1911, "taxCode": "-Fallback-scrubbed-ODWhTmomx",
        "taxPercent": 1911, "totalTaxAmount": 1911, "amountIncludingTax": 1911, "invoiceDiscountAllocation":
        1911, "netAmount": -213756640107.93, "netTaxAmount": 1911, "netAmountIncludingTax":
        -213756640107.93, "expectedReceiptDate": "-Fallback-scrubbed-YKSiSpiQqB",
        "itemVariantId": "-Fallback-scrubbed-psVBrdULdswOFcpttYdMgnqzSNXVhCvNBFjm",
        "locationId": "-Fallback-scrubbed-aOhXdpsJSkeRsANCyvKSdAshMtqrLrmGcGyh", "dimensionSetLines":
        [{"@odata.etag": "-Fallback-scrubbed-KqwzWXuDDWgyFFIuyfJeKGlKBQfusWXUuoMEXTHvvSuS",
        "id": "860c5c21-0f29-f111-8340-000d3a11d3d8", "code": "-Fallback-scrubbed-MjDOnwG",
        "consolidationCode": "Alexandra Thompson", "parentId": "-Fallback-scrubbed-RKvwQnDsMTixRzFFKOfbuvLHmmdKXEtNSpKo",
        "parentType": "-Fallback-scrubbed-leQTLlwCVxNPDUFYsWkZDjALDCjtbFkpv", "displayName":
        "Crystal Wil[...]
