interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "-Fallback-scrubbed-rNuNLG", "scope": "-Fallback-scrubbed-zHMrBwNxlZXnaUkEuHsaOeAprcXhZAFbIkpkgorCpht",
        "expires_in": "4851", "ext_expires_in": "-Fallback-scrubbed-gmnu", "expires_on":
        "-Fallback-scrubbed-zKsKeKkLiV", "not_before": "-Fallback-scrubbed-MnhaWnViiP",
        "resource": "-Fallback-scrubbed-qHTMODqnvjABOvCdAxsJpvonwQXyjamMbTjVCyis",
        "access_token": "eyJ***", "refresh_token": "1.A***"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.businesscentral.dynamics.com/environments/v1.1
  response:
    body:
      string: '{"value": [{"aadTenantId": "-Fallback-scrubbed-sOdhQQVkDrqixLqeutIcsNVILGgtqoWAuaQY",
        "applicationFamily": "-Fallback-scrubbed-YQdYuWfGQinnuNL", "type": "-Fallback-scrubbed-mzhRuEC",
        "name": "SandboxSpain", "countryCode": "-Fallback-scrubbed-DH", "webServiceUrl":
        "-Fallback-scrubbed-qHTMODqnvjABOvCdAxsJpvonwQXyjamMbTjVCyis", "webClientLoginUrl":
        "-Fallback-scrubbed-gCVXMFzxblqbmahwHbyOCvxSnZRjEzYydsLx"}, {"aadTenantId":
        "-Fallback-scrubbed-sOdhQQVkDrqixLqeutIcsNVILGgtqoWAuaQY", "applicationFamily":
        "-Fallback-scrubbed-YQdYuWfGQinnuNL", "type": "-Fallback-scrubbed-MzBeKYvEvc",
        "name": "Production", "countryCode": "-Fallback-scrubbed-ha", "webServiceUrl":
        "-Fallback-scrubbed-qHTMODqnvjABOvCdAxsJpvonwQXyjamMbTjVCyis", "webClientLoginUrl":
        "-Fallback-scrubbed-gCVXMFzxblqbmahwHbyOCvxSnZRjEzYydsLx"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - 1.0, 1.1, 1.2
      mise-correlation-id:
      - d538037d-7df5-4e6d-97fd-ff28c84d16f0
      ms-correlation-x:
      - 72e9baff-a2f4-334c-4587-4d398761208f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-sMkpWXPcZxoXyOCuQNxZVkTTtIthwjsOfEtGpzogeiwkHZTzloiNPOMioJDjjwlxFztYIRLHDoPCwVoYQGlGJ",
        "value": [{"id": "2cd06086-7b01-f111-a1fd-7ced8d2674f8", "systemVersion":
        "-Fallback-scrubbed-PvDzyuZueRyTDMFD", "timestamp": 4429, "name": "CRONUS
        USA, Inc.", "displayName": "Jennifer Wilson", "businessProfileId": "Jennifer
        Wilson", "systemCreatedAt": "-Fallback-scrubbed-oHYfAQRwGcnxFvuPBiFgPqCl",
        "systemCreatedBy": "-Fallback-scrubbed-xSntxFVboqrJlYbLqbdzkbNiCjHBLjbuEIrp",
        "systemModifiedAt": "-Fallback-scrubbed-oHYfAQRwGcnxFvuPBiFgPqCl", "systemModifiedBy":
        "-Fallback-scrubbed-xSntxFVboqrJlYbLqbdzkbNiCjHBLjbuEIrp"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - bf247a2f-83a7-425d-b7a4-29b616e7e1ea
      ms-correlation-x:
      - 9a287ca4-ec97-3779-86fe-e6ef3a672ed0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/companyInformation
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-XfbLhRWRvPNrXuljhpiCYzfXScWxWzEcHYtWNWHIPDYuSXwavHybuycpSRRBYkjmVVgeDqNDFsxJoLWpRqVaBqhORZipXfYbzgXIUrXiqJRgkXEdfFFUUlAXYgShdeSbAuQhHYPavWOrpX",
        "value": [{"@odata.etag": "-Fallback-scrubbed-KLxQcZKnZykJrMZEKCIvtZpJLeZRhxfwDxCAEbyrDmxI",
        "id": "d43f5193-7b01-f111-a1fd-7ced8d2674f8", "displayName": "Jessica Fox",
        "addressLine1": "391 Evans Circle Suite 458", "addressLine2": "3109 Schneider
        Path", "city": "West Katietown", "state": "-Fallback-scrubbed-uJ", "country":
        "-Fallback-scrubbed-ha", "postalCode": "06965", "phoneNumber": "846.691.3231x5949",
        "faxNumber": "-Fallback-scrubbed-OViCAgEYeORrMKq", "email": "Jennifer Wilson",
        "website": "Jennifer Wilson", "taxRegistrationNumber": "Jennifer Wilson",
        "currencyCode": "-Fallback-scrubbed-VjG", "currentFiscalYearStartDate": "-Fallback-scrubbed-dpSBfDgzmO",
        "industry": "Jennifer Wilson", "experience": "-Fallback-scrubbed-OGTbjtIkQ",
        "lastModifiedDateTime": "2026-02-04T03:43:12.517Z", "picture@odata.mediaReadLink":
        "-Fallback-scrubbed-mwnJNSjSDafbYjnySQZpXBNsitMowjQeFrUanbOwymkInrRaqkfgRoDCuCWutIEUprkMZrxUkQWHhKTStsgsUbRpiMfmlMlVaqPXlSZYNtpJMTZsJHUqoTQdevtLQCllpzezOzZhuAPXNFTVKTzYjpTEHjmCTqXoFSDaWmqXVPqywDRjfy"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.maxpagesize
      mise-correlation-id:
      - a4a45dd1-e44f-4030-8bb7-e1e11f9c464d
      ms-correlation-x:
      - aff17fb5-8cb0-55a7-0e78-4ce160f8b362
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      If-Match:
      - '*'
      Prefer:
      - odata.maxpagesize=5000
    method: GET
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/customers?%24filter=lastModifiedDateTime+gt+2026-03-25T00%3A00%3A00Z
  response:
    body:
      string: '{"@odata.context": "-Fallback-scrubbed-AGFXKXxQyNbQTGKitkIKuAvUjKZEzkJjgMhfXHDHrZAfIBQiYpqzKrljlwdQitxYrbbarEVtwbwoIiASYgXNeCHCsELVWZVXxsvSNxBxfoJSGdkXRJzjrCCEdSHtFjIbfmYVw",
        "value": [{"@odata.etag": "-Fallback-scrubbed-hyIbbnQBXsCSmepgzstVhrTHcGgqXuYNRucrnMnYBaeG",
        "id": "3d98419f-7b01-f111-a1fd-7ced8d2674f8", "number": "-Fallback-scrubbed-HCoUm",
        "displayName": "James Nguyen", "type": "-Fallback-scrubbed-qgKNrcG", "addressLine1":
        "05917 Clarke Hill Apt. 258", "addressLine2": "Jennifer Wilson", "city": "Lisaville",
        "state": "-Fallback-scrubbed-sE", "country": "-Fallback-scrubbed-ha", "postalCode":
        "11820", "phoneNumber": "Jennifer Wilson", "email": "nguyentony@example.com",
        "website": "Jennifer Wilson", "salespersonCode": "-Fallback-scrubbed-IM",
        "balanceDue": 998019295.476767, "creditLimit": 8354, "taxLiable": true, "taxAreaId":
        "-Fallback-scrubbed-CKMBSPjwBnwCoYOtuEnxYEVdlrklyuEowhpu", "taxAreaDisplayName":
        "-Fallback-scrubbed-DBovAvgkEec", "taxRegistrationNumber": "Jennifer Wilson",
        "currencyId": "-Fallback-scrubbed-nwPCqFMoPNerQAxSxsEolDpAsLmqkJEKUPuu", "currencyCode":
        "-Fallback-scrubbed-VjG", "paymentTermsId": "-Fallback-scrubbed-PnLnHTxuCzJKZgnFyimmgPwFeVdowDUADERM",
        "shipmentMethodId": "-Fallback-scrubbed-nwPCqFMoPNerQAxSxsEolDpAsLmqkJEKUPuu",
        "paymentMethodId": "-Fallback-scrubbed-nwPCqFMoPNerQAxSxsEolDpAsLmqkJEKUPuu",
        "blocked": "-Fallback-scrubbed-aobQapS", "lastModifiedDateTime": "2026-06-23T16:53:55.44Z"},
        {"@odata.etag": "-Fallback-scrubbed-WbcosNIXzOVrEKLbdiIRDEdSyGAJDDLBcDsmfzYKYzLL",
        "id": "527b0dd2-4428-f111-8340-000d3a1cb9c0", "number": "-Fallback-scrubbed-dRZUyZoIZMAx",
        "displayName": "Michael Hill", "type": "-Fallback-scrubbed-mskSHw", "addressLine1":
        "3772 Mandy Plain", "addressLine2": "952 Leah Dale Suite 209", "city": "Howelltown",
        "state": "-Fallback-scrubbed-IY", [...]
